@use '_mixin' as *;

// ***SETTINGS***

:root {
	--cr-accent: var(--cr-green-d);
	--cr-black: #292929;
	--cr-white: #ffffff;
	--cr-brown: #403232;
	--cr-cream: #fef9eb;

	--t-h-1: 68px/1 var(--font-kalice), 'Times', serif;
	--t-h-2: 42px/1.15 var(--font-kalice), 'Times', serif;
	--t-h-3: 30px/1.15 var(--font-kalice), 'Times', serif;
	--t-h-4: 500 24px/1.22 var(--font-kalice), 'Times', serif;
	--t-h-5: 500 18px/1.25 var(--font-kalice), 'Times', serif;
	--t-b-1: 17px/1.45 'Helvetica Neue', Helvetica, sans-serif;
	--t-b-2: 14px/1.5 'Helvetica Neue', Helvetica, sans-serif;
	--t-b-3: 12px/1.5 'Helvetica Neue', Helvetica, sans-serif;
	--t-l-1: 600 14px/1 'Helvetica Neue', Helvetica, sans-serif;
	--t-l-2: 500 12px/1 'Helvetica Neue', Helvetica, sans-serif;

	--s-sidebar: Min(240px, 100%);
	--s-contain: Min(2vw, 20px);
	--s-vp-height: 100vh;
	--s-vp-height: 100svh;
	--s-main-min-height: calc(
		var(--s-vp-height) - var(--s-announcement, 0px) - var(--s-footer, 0px)
	); // Set minimum container height to fill screen, keeping footer at bottom.

	--s-sml: 900px;
	--s-med: 1200px;
	--s-lge: 1800px;
	--s-max: 2800px;
	--width-sml: Min(100vw - calc(var(--s-contain) * 2), var(--s-sml));
	--width-med: Min(100vw - calc(var(--s-contain) * 2), var(--s-med));
	--width-lge: Min(100vw - calc(var(--s-contain) * 2), var(--s-lge));
	--width-max: Min(100vw - calc(var(--s-contain) * 2), var(--s-max));
	--padding-sml: calc((100vw - var(--width-sml)) / 2);
	--padding-med: calc((100vw - var(--width-med)) / 2);
	--padding-lge: calc((100vw - var(--width-lge)) / 2);
	--padding-max: calc((100vw - var(--width-max)) / 2);

	--s-1-v: 5px;
	--s-1-h: 5px;
	--s-2-v: 10px;
	--s-2-h: 10px;
	--s-3-v: 20px;
	--s-3-h: 20px;
	--s-4-v: 40px;
	--s-4-h: 40px;
	--s-5-v: 80px;
	--s-5-h: 80px;
	--s-section: 125px;

	--br-1: 4px;
	--br-2: 8px;
	--br-3: 16px;
	--shadow-1: 0px 12px 40px rgba(0, 0, 0, 0.15);
	--shadow-1-transparent: 0px 12px 40px rgba(0, 0, 0, 0);
	--shadow-2: 0px 6px 20px rgba(0, 0, 0, 0.15);
	--shadow-2-transparent: 0px 6px 20px rgba(0, 0, 0, 0);
	--shadow-3: 0px 3px 10px rgba(0, 0, 0, 0.15);
	--shadow-3-transparent: 0px 3px 10px rgba(0, 0, 0, 0);
}

@include tabletDown {
	:root {
		--t-h-1: 50px/1 var(--font-kalice), 'Times', serif;
		--t-h-2: 35px/1.15 var(--font-kalice), 'Times', serif;
		--t-h-3: 25px/1.15 var(--font-kalice), 'Times', serif;
		--t-h-4: 500 20px/1.22 var(--font-kalice), 'Times', serif;
		--t-b-1: 16px/1.45 'Helvetica Neue', Helvetica, sans-serif;
		--t-b-2: 14px/1.5 'Helvetica Neue', Helvetica, sans-serif;
		--t-l-1: 600 13px/1 'Helvetica Neue', Helvetica, sans-serif;
	}
}

@include mobileDown {
	:root {
		--t-h-1: 42px/1 var(--font-kalice), 'Times', serif;
		--t-h-2: 30px/1.15 var(--font-kalice), 'Times', serif;
		--t-h-3: 20px/1.15 var(--font-kalice), 'Times', serif;
		--t-h-4: 500 18px/1.22 var(--font-kalice), 'Times', serif;
		--t-h-5: 500 16px/1.25 var(--font-kalice), 'Times', serif;

		--s-section: 60px;
	}
}

// scroll positioning anchoring
html {
	scroll-behavior: smooth;
	scroll-padding-top: calc(
		var(--s-announcement, 0px) + var(--s-header, 0px) + 20px
	);
}

// ***BRAND COLORS***

// TODO
// Make all selection match color (e.g. green location card should have green selection)
// use --cr-foreground / background rather than primary / secondary?

@include selection {
	text-shadow: none;
	color: var(--cr-white);
	background-color: var(--cr-brown);
}

@media (hover: hover) {
	* {
		outline-offset: 1px;
		outline-style: solid;
		outline-color: transparent;
	}

	*:focus-visible {
		// repeat properties to override unsets
		outline-offset: 1px !important;
		outline-style: solid !important;
		outline-color: var(--cr-primary, var(--cr-accent)) !important;
	}
}

// ***COLORS***

html {
	color: var(--cr-black);
	background-color: var(--cr-white);
}

.cr-accent {
	color: var(--cr-accent);
}
.cr-black {
	color: var(--cr-black);
}
.cr-white {
	color: var(--cr-white);
}

.bg-accent {
	background-color: var(--cr-accent);
}
.bg-black {
	background-color: var(--cr-black);
}
.bg-white {
	background-color: var(--cr-white);
}

// ***TYPOGRAPHY***

body {
	font: var(--t-b-1);
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.t-h-1 {
	font: var(--t-h-1);
}

.t-h-2 {
	font: var(--t-h-2);
}

.t-h-4 {
	font: var(--t-h-4);
}

.t-h-5 {
	font: var(--t-h-5);
}

h1,
h2,
h3,
h4,
h5,
h6,
.t-h-3 {
	font: var(--t-h-3);
	text-wrap: balance;
}

.t-b-1 {
	font: var(--t-b-1);
}

.t-b-2 {
	font: var(--t-b-2);
}

.t-l-1 {
	font: var(--t-l-1);
}

.t-l-2 {
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font: var(--t-l-2);
}

p,
ol,
ul {
	text-wrap: pretty;
}

// ***INPUTS***

input,
select,
textarea,
progress {
	accent-color: var(--cr-accent);
}

input[type='radio'],
input[type='checkbox'] {
	display: inline-block;
	width: 16px;
	aspect-ratio: 1;
	vertical-align: middle;
	border: 1px solid;
	cursor: pointer;

	~ label {
		display: inline-block;
		padding-left: 0.5em;
		vertical-align: bottom;
		font: var(--t-b-2);
		line-height: 1;
		cursor: pointer;
	}

	&[type='radio'] {
		border-radius: 100%;

		&:checked {
			background-color: var(--cr-accent);
			box-shadow: inset 0 0 0 2px var(--cr-white);
		}
	}

	&[type='checkbox'] {
		background: center/80% no-repeat;
		border-radius: var(--br-1);

		&:checked {
			background-color: var(--cr-primary, var(--cr-brown));
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800.01 586.81'%3E%3Cpath fill='white' d='M796.74 87.51 300.72 583.53c-4.37 4.37-11.44 4.37-15.8 0L3.27 301.88c-4.36-4.35-4.36-11.42 0-15.79l68.44-68.44c4.37-4.36 11.44-4.36 15.8 0l205.32 205.31L712.51 3.27c4.38-4.36 11.43-4.36 15.8 0l68.43 68.44c4.37 4.36 4.37 11.42 0 15.8Z'/%3E%3C/svg%3E");
		}
	}
}

textarea {
	white-space: normal;
	min-height: var(--height);
	height: 200px;
	scroll-padding-block: 6px;
	resize: vertical;
}

@include inputs {
	@include placeholder {
		color: var(--cr-subtle-5);
	}
}
