@import '__mixin';

// ***SETTINGS***

:root {
	--cr-accent: var(--cr-blue-d);
	--cr-black: #000000;
	--cr-white: #ffffff;
	--cr-brown: #403232;
	--cr-cream: #fef9eb;
	--cr-blue-l: #bddcee;
	--cr-blue-d: #134767;
	--cr-green-l: #cadbc2;
	--cr-green-d: #023a29;
	--cr-red-l: #efbfa7;
	--cr-red-d: #a33600;
	--cr-orange-l: #eedcbd;
	--cr-orange-d: #d46700;
	--cr-purple-l: #faecff;
	--cr-purple-d: #55405c;

	--cr-brown-d: var(--cr-brown);
	--cr-brown-l: #e9e6d1;

	--t-h-1: 64px/1 var(--font-kalice), 'Times', serif;
	--t-h-2: 42px/1.15 var(--font-kalice), 'Times', serif;
	--t-h-3: 30px/1.15 var(--font-kalice), 'Times', serif;
	--t-h-4: 500 20px/1.15 var(--font-kalice), 'Times', serif;
	--t-h-5: 500 16px/1.15 var(--font-kalice), 'Times', serif;
	--t-b-1: 18px/1.3 'Helvetica Neue', Helvetica, sans-serif;
	--t-b-2: 14px/1.35 'Helvetica Neue', Helvetica, sans-serif;
	--t-b-3: 12px/1.4 'Helvetica Neue', Helvetica, sans-serif;
	--t-l-1: 700 14px/1 'Helvetica Neue', Helvetica, sans-serif;
	--t-l-2: 12px/1 'Helvetica Neue', Helvetica, sans-serif;

	--s-sidebar: Min(240px, 100%);
	--s-contain: Min(3vw, 40px);
	--s-vp-height: 100vh;
	--s-vp-height: 100svh;
	--s-main-min-height: calc(
		var(--s-vp-height) - var(--s-announcement, 0px) - var(--s-footer, 0px)
	); // Set minimum container height to fill screen, keeping footer at bottom.

	--width-sml: Min(100vw - calc(var(--s-contain) * 2), 600px);
	--width-med: Min(100vw - calc(var(--s-contain) * 2), 1200px);
	--width-lge: Min(100vw - calc(var(--s-contain) * 2), 1800px);
	--width-max: Min(100vw - calc(var(--s-contain) * 2), 2480px);
	--padding-sml: calc((100vw - var(--width-sml)) / 2);
	--padding-med: calc((100vw - var(--width-med)) / 2);
	--padding-lge: calc((100vw - var(--width-lge)) / 2);
	--padding-max: calc((100vw - var(--width-max)) / 2);

	--s-1-v: 5px;
	--s-1-h: 5px;
	--s-2-v: 10px;
	--s-2-h: 10px;
	--s-3-v: 20px;
	--s-3-h: 20px;
	--s-4-v: 40px;
	--s-4-h: 40px;
	--s-5-v: 80px;
	--s-5-h: 80px;
	--s-section: 120px;

	--br-1: 4px;
	--br-2: 8px;
	--br-3: 16px;
	--shadow-1: 0px 12px 40px rgba(0, 0, 0, 0.15);
	--shadow-1-transparent: 0px 12px 40px rgba(0, 0, 0, 0);
	--shadow-2: 0px 6px 20px rgba(0, 0, 0, 0.15);
	--shadow-2-transparent: 0px 6px 20px rgba(0, 0, 0, 0);
	--shadow-3: 0px 3px 10px rgba(0, 0, 0, 0.15);
	--shadow-3-transparent: 0px 3px 10px rgba(0, 0, 0, 0);
}

@media screen and (max-width: 600px) {
	:root {
		--s-section: 60px;
	}
}

// scroll positioning anchoring
html {
	scroll-behavior: smooth;
	scroll-padding-top: calc(
		var(--s-announcement, 0px) + var(--s-header, 0px) + 20px
	);
}

// ***BRAND COLORS***

// TODO
// Make all selection match color (e.g. green location card should have green selection)
// use --cr-foreground / background rather than primary / secondary?

@include selection {
	text-shadow: none;
	color: var(--cr-white);
	background-color: var(--cr-brown);
}

@media (hover: hover) {
	* {
		outline-offset: 3px;
		outline-style: dashed;
		outline-color: transparent;
	}

	*:focus-visible {
		// repeat properties to override unsets
		outline-offset: 3px !important;
		outline-style: dashed !important;
		outline-color: var(--cr-primary, var(--cr-accent)) !important;
	}
}

// ***COLORS***

html {
	color: var(--cr-black);
	background-color: var(--cr-white);
}

.cr-accent {
	color: var(--cr-accent);
}
.cr-black {
	color: var(--cr-black);
}
.cr-white {
	color: var(--cr-white);
}

.bg-accent {
	background-color: var(--cr-accent);
}
.bg-black {
	background-color: var(--cr-black);
}
.bg-white {
	background-color: var(--cr-white);
}

// ***TYPOGRAPHY***

body {
	font: var(--t-b-1);
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.t-h-1 {
	font: var(--t-h-1);
}

.t-h-2 {
	font: var(--t-h-2);
}

.t-h-4 {
	font: var(--t-h-4);
}

.t-h-5 {
	font: var(--t-h-5);
}

h1,
h2,
h3,
h4,
h5,
h6,
.t-h-3 {
	font: var(--t-h-3);
	text-wrap: balance;
}

.t-b-1 {
	font: var(--t-b-1);
}

.t-b-2 {
	font: var(--t-b-2);
}

.t-l-1 {
	font: var(--t-l-1);
}

.t-l-2 {
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font: var(--t-l-2);
}

p,
ol,
ul {
	text-wrap: pretty;
}

// ***FORMS***

input,
select,
textarea,
progress {
	accent-color: var(--cr-accent);
}

input[type='radio'],
input[type='checkbox'] {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	border: 1px solid;
	cursor: pointer;
	transition: background 0.2s;

	~ label {
		display: inline-block;
		padding-left: 0.5em;
		vertical-align: bottom;
		font: var(--t-b-2);
		line-height: 1;
		cursor: pointer;
	}

	&[type='radio'] {
		border-radius: 100%;

		&:checked {
			background-color: var(--cr-accent);
			box-shadow: inset 0 0 0 2px var(--cr-white);
		}
	}

	&[type='checkbox'] {
		background: center/80% no-repeat;
		border-radius: 4px;

		&:checked {
			background-color: var(--cr-primary, var(--cr-accent));
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800.01 586.81'%3E%3Cpath fill='white' d='M796.74 87.51 300.72 583.53c-4.37 4.37-11.44 4.37-15.8 0L3.27 301.88c-4.36-4.35-4.36-11.42 0-15.79l68.44-68.44c4.37-4.36 11.44-4.36 15.8 0l205.32 205.31L712.51 3.27c4.38-4.36 11.43-4.36 15.8 0l68.43 68.44c4.37 4.36 4.37 11.42 0 15.8Z'/%3E%3C/svg%3E");
		}
	}
}

.field,
.field-cols {
	--field-gap: 15px;
	--height: 45px;
	--line-height: 20px;
	--padding-h: 16px;
	--floating-label-focus-offset: 5px;

	@media screen and (max-width: 600px) {
		--field-gap: 10px;
		--padding-h: 14px;
	}
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='search'],
select,
textarea {
	@include placeholder {
		color: var(--cr-subtle-5);
	}

	@mixin size {
		height: var(--height);
		padding: calc((var(--height) - var(--line-height)) / 2) var(--padding-h);
		font: var(--t-b-2);
		line-height: var(--line-height);

		@include mobileDown {
			font-size: 16px;
		}
	}

	.field & {
		@include size;
		position: relative;
		display: block;
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		border: unset;
		outline-offset: 3px;
		outline-style: dashed;
		outline-color: transparent;
		color: inherit;
		border: 1px solid;
		transition: 0.2s;
	}

	.field.is-floating-label & {
		~ label {
			@include size;
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			transition: 0.2s;
		}

		&:not(select):focus,
		&:placeholder-shown,
		&.is-contain-value {
			padding-top: calc(
				(var(--height) - var(--line-height)) / 2 +
					var(--floating-label-focus-offset)
			);
			padding-bottom: calc(
				(var(--height) - var(--line-height)) /
					2 - var(--floating-label-focus-offset)
			);

			~ label {
				top: var(--floating-label-focus-offset);
				padding-top: 0;
				padding-bottom: 0;
				line-height: 1;
				font-size: 11px;
				color: var(--cr-subtle-5);
			}
		}
	}
}

.field {
	position: relative;
	line-height: 1;

	&:not(:last-of-type) {
		margin-bottom: var(--field-gap);
	}

	label {
		display: block;
		font: var(--t-b-2);
		line-height: 1;

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	select {
		padding-right: calc(var(--padding-h) + 8px + var(--padding-h));
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 5'%3E%3Cpath fill-rule='evenodd' d='m3,5L6,0H0l3,5'/%3E%3C/svg%3E")
			right var(--padding-h) center/8px no-repeat;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}

	textarea {
		white-space: normal;
		min-height: var(--height);
		height: 200px;
		scroll-padding-block: 6px;
		resize: vertical;
	}
}

.field-cols {
	display: flex;
	flex-wrap: wrap;
	gap: var(--field-gap);

	.field {
		flex: 1;
		margin-bottom: 0;
	}

	&:not(:last-of-type) {
		margin-bottom: var(--field-gap);
	}

	@media screen and (max-width: 600px) {
		.field {
			width: 100%;
			flex: unset;
		}
	}
}

// ***LOADER***
.c-loader {
	position: absolute;
	width: 100%;
	height: 3px;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: left center;
	transition: transform 0.4s var(--e-inOut-circ);
	background-color: var(--cr-accent);
	z-index: 500;

	&[data-progress='101'] {
		transform-origin: right center;
		transform: scaleX(0) !important;
		transition-duration: 0.8s;
	}

	&:where(html) > .c-loader {
		position: fixed;
	}
}
