// ***Mixins***

// *** RWD ***
/* Example usage:
  .something {
      padding: 20px;

      @include mobileUp {
        padding: 10px;
      }
    }
*/
@mixin midScreenUp {
	@media screen and (min-width: 1281px) {
		@content;
	}
}
@mixin midScreenDown {
	@media screen and (max-width: 1280px) {
		@content;
	}
}
@mixin tabletUp {
	@media screen and (min-width: 1081px) {
		@content;
	}
}
@mixin tabletDown {
	@media screen and (max-width: 1080px) {
		@content;
	}
}
@mixin mobileUp {
	@media screen and (min-width: 601px) {
		@content;
	}
}
@mixin mobileDown {
	@media screen and (max-width: 600px) {
		@content;
	}
}

// *** Hover ***
/* Example usage:
  .btn {
    color: var(--cr-white);
    background-color: var(--cr-black);

    @include hover {
      color: var(--cr-black);
      background-color: var(--cr-white);
    }
  }
*/
@mixin hover {
	@media (hover: hover) {
		&:not([disabled]):hover {
			@content;
		}
	}
}

// ***Placeholder***
@mixin placeholder {
	&::placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

// ***Selection***
@mixin selection {
	::selection {
		@content;
	}

	::-moz-selection {
		@content;
	}
}

// ***Inputs***
@mixin inputs {
	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='url'],
	input[type='password'],
	input[type='number'],
	input[type='date'],
	input[type='datetime-local'],
	input[type='month'],
	input[type='week'],
	input[type='time'],
	input[type='search'],
	select,
	textarea {
		@content;
	}
}

// ***Scrollbar***
@mixin customScrollbar($color: var(--cr-brown-d)) {
	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: var(--cr-subtle);
		margin: 5px 0;
	}

	&::-webkit-scrollbar-thumb {
		background: $color;
		border-radius: 10px;
	}
}

@mixin customScrollbarHorizontal($color: var(--cr-brown-d)) {
	&::-webkit-scrollbar {
		height: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: var(--cr-subtle);
		margin-inline: var(--padding-sml);
	}

	&::-webkit-scrollbar-thumb {
		background: $color;
		border-radius: 10px;
	}
}

// ***Buttons***
@mixin triggerProperties {
	--size: 40px;
	--outline: 1.5px;
	--cr-primary: var(--cr-white);
	--cr-secondary: inherit;
	@include buttonProperties;

	width: var(--size);
	height: var(--size);
	gap: 5px;
	border-radius: 100%;
	font: var(--t-l-1);
	line-height: 1;
	transition: var(--t-1);

	&:before {
		content: '';
		display: block;
		position: absolute;
		inset: var(--outline);
		border-radius: 100%;
		transform: scale(0.8);
		opacity: 0;
		background-color: var(--cr-subtle-1);
		transition: var(--t-1);
	}

	svg {
		width: calc(var(--size) * 0.35);
		height: calc(var(--size) * 0.35);
	}

	@media (hover: hover) {
		&:hover:before {
			opacity: 1;
			transform: scale(1);
		}
	}

	@include mobileDown {
		--size: 35px;
	}
}

@mixin buttonProperties {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	text-align: center;
	box-shadow: unset;
	border: unset;
	outline: unset;
	user-select: none;
}

@mixin asideToggle {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(-50%, -50%, 0);

	&__label {
		position: absolute;
		white-space: nowrap;
		top: 50%;
		left: -5px;
		transform: translate3d(-90%, -50%, 0);
		opacity: 0;
		pointer-events: none;
		transition: var(--t-1);
	}

	@media (hover: hover) {
		&:hover &__label {
			transform: translate3d(-100%, -50%, 0);
			opacity: 1;
		}
	}
}

@mixin headerBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--header-size);
	padding: var(--block-padding);
	border-left: 1px solid;
}
