// ***Mixins***

// *** RWD ***
/* Example usage:
  .something {
      padding: 20px;

      @include mobileUp {
        padding: 10px;
      }
    }
*/
@mixin lgScreenUp {
	@media screen and (min-width: 1741px) {
		@content;
	}
}
@mixin lgScreenDown {
	@media screen and (max-width: 1740px) {
		@content;
	}
}
@mixin midScreenUp {
	@media screen and (min-width: 1281px) {
		@content;
	}
}
@mixin midScreenDown {
	@media screen and (max-width: 1280px) {
		@content;
	}
}
@mixin tabletUp {
	@media screen and (min-width: 1081px) {
		@content;
	}
}
@mixin tabletDown {
	@media screen and (max-width: 1080px) {
		@content;
	}
}
@mixin mobileUp {
	@media screen and (min-width: 601px) {
		@content;
	}
}
@mixin mobileDown {
	@media screen and (max-width: 600px) {
		@content;
	}
}

// *** Hover ***
/* Example usage:
  .btn {
    color: var(--cr-white);
    background-color: var(--cr-black);

    @include hover {
      color: var(--cr-black);
      background-color: var(--cr-white);
    }
  }
*/
@mixin hover {
	@media (hover: hover) {
		&:not([disabled]):hover {
			@content;
		}
	}
}

// ***Placeholder***
@mixin placeholder {
	&::placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

// ***Selection***
@mixin selection {
	::selection {
		@content;
	}

	::-moz-selection {
		@content;
	}
}

// ***Inputs***
@mixin inputs {
	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='url'],
	input[type='password'],
	input[type='number'],
	input[type='date'],
	input[type='datetime-local'],
	input[type='month'],
	input[type='week'],
	input[type='time'],
	input[type='search'],
	select,
	textarea {
		@content;
	}
}

// ***Scrollbar***
@mixin customScrollbar($color: var(--cr-brown-d)) {
	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: var(--cr-subtle);
		margin: 5px 0;
	}

	&::-webkit-scrollbar-thumb {
		background: $color;
		border-radius: 10px;
	}
}

@mixin customScrollbarHorizontal($color: var(--cr-brown-d)) {
	&::-webkit-scrollbar {
		height: 5px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: var(--cr-subtle);
		margin-inline: var(--padding-sml);
	}

	&::-webkit-scrollbar-thumb {
		background: $color;
		border-radius: 10px;
	}
}

// ***Buttons***
@mixin triggerProperties {
	--size: 40px;
	--outline: 1.5px;
	--cr-primary: var(--cr-white);
	--cr-secondary: inherit;
	@include buttonProperties;

	width: var(--size);
	height: var(--size);
	gap: 5px;
	border-radius: 100%;
	font: var(--t-l-1);
	line-height: 1;
	transition: var(--t-1);

	&:before {
		content: '';
		display: block;
		position: absolute;
		inset: var(--outline);
		border-radius: 100%;
		transform: scale(0.8);
		opacity: 0;
		background-color: var(--cr-subtle-1);
		transition: var(--t-1);
	}

	svg {
		width: calc(var(--size) * 0.35);
		height: calc(var(--size) * 0.35);
	}

	@media (hover: hover) {
		&:hover:before {
			opacity: 1;
			transform: scale(1);
		}
	}

	@include mobileDown {
		--size: 35px;
	}
}

@mixin buttonProperties {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	text-align: center;
	box-shadow: unset;
	border: unset;
	outline: unset;
	user-select: none;
}

@mixin asideToggle {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(-50%, -50%, 0);

	&__label {
		position: absolute;
		white-space: nowrap;
		top: 50%;
		left: -5px;
		transform: translate3d(-90%, -50%, 0);
		opacity: 0;
		pointer-events: none;
		transition: var(--t-1);
	}

	@media (hover: hover) {
		&:hover &__label {
			transform: translate3d(-100%, -50%, 0);
			opacity: 1;
		}
	}
}

@mixin headerBlock {
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--header-size);
	padding: var(--block-padding);
	border-left: 1px solid;
}

@mixin v2SectionHeader {
	&__header {
		width: Min(80vw, 800px);
		margin-bottom: var(--s-5-v);
		margin-inline: auto;
		text-align: center;

		p {
			text-wrap: balance;
		}

		@include tabletDown {
			margin-bottom: 30px;

			.t-h-1 {
				font: var(--t-h-2);
			}
		}
	}
}

@mixin v2SectionFaq {
	max-width: var(--width-sml);
	margin-inline: auto;
	margin-block: var(--s-section);

	@include v2SectionHeader;

	&__header {
		max-width: 600px;
		margin-inline: auto;
	}

	@media (hover: hover) {
		.c-accordion__toggle {
			transition: color var(--t-1);
		}

		.c-accordion__icon {
			transition: background-color var(--t-1);
		}

		.c-accordion:hover {
			.c-accordion__toggle {
				color: var(--cr-orange-d);
			}

			.c-accordion__icon {
				background-color: var(--cr-orange-l);
			}
		}
	}

	.c-accordion__toggle {
		align-items: flex-start;
	}

	.c-accordion__subtitle {
		margin-top: 0.22em;
		font-weight: 500;
		color: var(--cr-orange-d);
	}

	.c-accordion__title {
		font: var(--t-b-1);
		text-wrap: balance;
		font-size: 16px;
		font-weight: 500;
	}

	.c-accordion__inner {
		padding-top: var(--s-2-v);
		padding-bottom: var(--s-4-v);

		@include mobileDown() {
			.c-portable-table {
			}
		}

		@include mobileUp {
			padding-left: 40px;
		}
	}

	.c-accordion__content .wysiwyg-page {
		max-width: 720px;

		p,
		ol,
		ul {
			font-size: 16px;
		}
	}
}

@mixin v2SectionContact {
	margin: var(--s-section) var(--padding-med);
	padding: var(--s-5-v) var(--s-5-h);
	box-shadow: var(--shadow-1);
	background-color: var(--cr-white);
	border-radius: var(--br-3);

	.g-planner-form {
		max-width: 600px;
		margin-inline: auto;
	}

	@include tabletDown {
		padding: 30px 20px;
		padding-top: 40px;
	}
}
