.c-accordion {
	position: relative;
	border-bottom: 1px solid var(--cr-subtle);

	&__toggle {
		width: 100%;
		padding: var(--s-3-v) 0;
		gap: 10px;
		text-align: left;
		transition: transform var(--t-1);
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border: 1px solid var(--cr-subtle);
		border-radius: 100%;
		transition: transform var(--t-1);
		box-shadow: var(--shadow-1);

		.icon-plus,
		.icon-caret-down {
			transition: transform var(--t-1);
		}
	}

	&__title {
		flex: 1;
		text-align: left;
	}

	&__content {
		overflow: hidden;
		pointer-events: none;

		&__inner {
			padding-bottom: var(--s-3-v);
		}
	}

	&.is-active {
		.c-accordion__icon {
			transform: scale(0.8);

			.icon-plus {
				transform: rotate(45deg);
			}

			.icon-caret-down {
				transform: scaleY(-1);
			}
		}

		.c-accordion__content {
			pointer-events: auto;
		}
	}
}
