.c-accordion {
	position: relative;
	border-bottom: 1px solid var(--cr-subtle);

	&__toggle {
		width: 100%;
		padding: var(--s-3-v) 0;
		gap: 10px;
		text-align: left;

		.icon-plus,
		.icon-caret-down {
			transition: transform 0.3s;
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border: 1px solid var(--cr-subtle);
		border-radius: 100%;
	}

	&__title {
		flex: 1;
		text-align: left;
	}

	&__content {
		overflow: hidden;
		pointer-events: none;

		&__inner {
			padding-bottom: var(--s-3-v);
		}
	}

	&.is-active {
		.c-accordion__toggle .icon-plus {
			transform: rotate(45deg);
		}

		.c-accordion__toggle .icon-caret-down {
			transform: scaleY(-1);
		}

		.c-accordion__content {
			pointer-events: auto;
		}
	}
}
