.c-accordion {
	position: relative;
	border-top: 1px dashed;

	&__toggle {
		width: 100%;
		padding: var(--s-3-v) 0;
		gap: 20px;
		text-align: left;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border: 1px dashed;
		border-radius: 100%;
		box-shadow: var(--shadow-1-transparent);
		transition: var(--t-1);

		.icon-plus,
		.icon-caret-down {
			font-size: 12px;
			transition: transform var(--t-1);
		}
	}

	&__title {
		flex: 1;
		text-align: left;
	}

	&__content {
		overflow: hidden;
	}

	@media (hover: hover) {
		&__toggle:hover &__icon {
			box-shadow: var(--shadow-1);
		}
	}

	&.is-active {
		.c-accordion__icon {
			.icon-plus {
				transform: rotate(45deg);
			}

			.icon-caret-down {
				transform: scaleY(-1);
			}
		}
	}
}
