@use '_mixin' as *;

.btn,
.btn-outline,
.btn-underline {
	--height: 45px;
	--outline: 1px;
	--cr-primary: var(--cr-brown-d);
	--cr-secondary: var(--cr-cream);
	--cr-underline: var(--cr-green-l);

	@include buttonProperties;

	cursor: pointer;
	height: var(--height);
	gap: 15px;
	border-radius: calc(var(--height) / 2);
	font: var(--t-l-1);
	line-height: 1;

	&.cr-black {
		--cr-primary: var(--cr-black);
		--cr-secondary: var(--cr-cream);
	}

	&.cr-white {
		--cr-primary: var(--cr-white);
		--cr-secondary: var(--cr-brown-d);
	}

	&.cr-cream {
		--cr-primary: var(--cr-cream);
		--cr-secondary: var(--cr-white);
	}

	&.cr-brown-l {
		--cr-primary: var(--cr-brown-l);
		--cr-secondary: var(--cr-brown-d);
	}

	&.cr-brown-d {
		--cr-primary: var(--cr-brown-d);
		--cr-secondary: var(--cr-cream);
		--cr-underline: var(--cr-brown-l);
	}

	&.cr-blue-l {
		--cr-primary: var(--cr-blue-l);
		--cr-secondary: var(--cr-blue-d);
	}

	&.cr-blue-d {
		--cr-primary: var(--cr-blue-d);
		--cr-secondary: var(--cr-cream);
		--cr-underline: var(--cr-blue-l);
	}

	&.cr-green-l {
		--cr-primary: var(--cr-green-d);
		--cr-secondary: var(--cr-green-l);
	}

	&.cr-green-d {
		--cr-primary: var(--cr-green-d);
		--cr-secondary: var(--cr-cream);
		--cr-underline: var(--cr-green-l);
	}

	&.cr-red-l {
		--cr-primary: var(--cr-red-l);
		--cr-secondary: var(--cr-red-d);
	}

	&.cr-red-d {
		--cr-primary: var(--cr-red-d);
		--cr-secondary: var(--cr-cream);
		--cr-underline: var(--cr-red-l);
	}

	&.cr-orange-l {
		--cr-primary: var(--cr-orange-l);
		--cr-secondary: var(--cr-orange-d);
	}

	&.cr-orange-d {
		--cr-primary: var(--cr-orange-d);
		--cr-secondary: var(--cr-cream);
		--cr-underline: var(--cr-orange-l);
	}

	&.cr-purple-l {
		--cr-primary: var(--cr-purple-l);
		--cr-secondary: var(--cr-purple-d);
	}

	&.cr-purple-d {
		--cr-primary: var(--cr-purple-d);
		--cr-secondary: var(--cr-cream);
		--cr-underline: var(--cr-purple-l);
	}

	@include mobileDown {
		--height: 40px;
	}
}

.btn,
.btn-outline {
	min-width: 120px;
	padding: 0 20px;
	overflow: hidden;
	box-shadow: var(--shadow-1-transparent);
	transition:
		color var(--t-2),
		background-color var(--t-2),
		border var(--t-2),
		box-shadow var(--t-2);

	&:before {
		content: '';
		display: block;
		position: absolute;
		inset: 2px;
		opacity: 0;
		border-radius: calc(var(--height) / 2);
		background-color: var(--cr-secondary);
		border: 1px dashed;
		transition:
			opacity var(--t-2),
			transform var(--t-2);
	}

	&.size-small {
		--height: 24px;
		padding: 0 8px;
		min-width: unset;
		font-size: 13px;
	}

	@include hover {
		background-color: var(--cr-secondary);
		box-shadow: var(--shadow-1);

		&:before {
			opacity: 1;
		}
	}
}

.btn {
	background-color: var(--cr-primary);
	color: var(--cr-secondary);

	@include hover {
		color: var(--cr-primary);
	}
}

.btn-outline {
	color: inherit;
	border: var(--outline) dashed;

	&:before {
		inset: 1px;
		background-color: var(--cr-primary);
	}

	&.cr-white {
		--cr-primary: var(--cr-white);
		--cr-secondary: var(--cr-black);
	}

	@include hover {
		color: var(--cr-secondary);
		border-color: var(--cr-primary);
	}
}

.btn-underline {
	--height: unset;

	font: var(--t-l-1);
	line-height: 1;
	color: inherit;

	&:before,
	&:after {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		top: 110%;
		left: 0;
		border-top: var(--outline) solid;
		transform-origin: right;
	}

	&:after {
		border-color: var(--cr-underline, var(--cr-secondary));
		transform: scaleX(0);
		transition: transform var(--t-1);
	}

	@include hover {
		&:after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}
}

.btn[disabled],
button[disabled],
input[disabled] {
	color: inherit;
	background-color: var(--cr-subtle-2);
	cursor: not-allowed;
}

.btn,
.btn-outline {
	--caret-gap: 4px;

	&__icon {
		position: relative;
		width: calc(var(--height) * 0.35);
		margin-right: auto;
		pointer-events: none;
	}

	&__text {
		position: relative;
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		gap: 5px;
		transition: transform var(--t-2);
		pointer-events: none;
	}

	&__caret,
	&__caret-hover {
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(var(--height) - var(--caret-gap) * 2);
		aspect-ratio: 1;
		margin-block: calc(var(--caret-gap) * 2);
		margin-right: calc(var(--caret-gap) - 20px);
		border-radius: 100%;
		background-color: var(--cr-subtle);
		transition: transform var(--t-2);
		pointer-events: none;
	}

	&__caret-hover {
		position: absolute;
		left: 0;
		transform: scale(0);
	}

	@media (hover: hover) {
		&:hover &__caret {
			transform: scale(0);
		}

		&:hover &__caret-hover {
			transform: scale(1) translate3d(var(--caret-gap), 0, 0);
		}

		&:hover &__caret-hover ~ &__text {
			transform: translate3d(calc(var(--height) / 1.5), 0, 0);
		}
	}
}

.trigger,
.trigger-outline {
	@include triggerProperties;
}

.trigger {
	background-color: var(--cr-primary);
}

.trigger-outline {
	border: var(--outline) dashed var(--cr-primary);
}

.pill {
	@include buttonProperties;

	height: 24px;
	gap: 5px;
	padding-inline: 6px;
	font: var(--t-b-3);
	border-radius: 12px;
	color: var(--cr-secondary, var(--cr-brown));
	border: 1px dashed var(--cr-subtle);
	background-color: var(--cr-primary, var(--cr-subtle));
	transition: var(--t-1);

	svg {
		width: 0.9em;
	}

	@include selection {
		color: var(--cr-secondary);
		background-color: var(--cr-primary);
	}

	&.is-active {
		color: var(--cr-secondary, var(--cr-subtle));
		background-color: var(--cr-primary, var(--cr-brown));
	}

	@media (hover: hover) {
		&[href]:hover {
			color: var(--cr-primary, var(--cr-subtle));
			background-color: var(--cr-secondary, var(--cr-brown));
			border-color: var(--cr-primary, var(--cr-subtle));
		}
	}
}
