@use '_mixin' as *;

.c-carousel {
	--dot-size: 10px;
	--dot-gap: 8px;

	position: relative;
	width: 100%;

	&__viewport {
		overflow: hidden;

		&.is-draggable:not(.disable-draggable) {
			cursor: grab;
		}
		&.is-dragging:not(.disable-draggable) {
			cursor: grabbing;
		}
	}

	&__container {
		display: flex;
		align-items: flex-start;
		-webkit-tap-highlight-color: transparent;
		backface-visibility: hidden;
		touch-action: pan-y pinch-zoom;
		user-select: none;
		transition: height 0.2s;

		& > * {
			min-width: var(--item-min-width, 0);
			flex: 0 0 var(--item-width);
			margin-right: var(--item-gap);
		}
	}

	&__viewport.disable-draggable &__container {
		justify-content: var(--align);
	}

	&__controls {
		display: flex;
		justify-content: center;
	}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		margin-left: auto;
	}

	&__button {
		@include triggerProperties;

		position: absolute;
		top: 50%;
		transform: translate3d(0, -50%, 0);

		&--prev {
			left: 0;
			transform: translate3d(-50%, -50%, 0);
		}

		&--next {
			right: 0;
			transform: translate3d(50%, -50%, 0);
		}

		&:disabled {
			opacity: 0;
		}

		@media (hover: none) and (pointer: coarse) {
			touch-action: manipulation;
		}
	}

	&__dots {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		gap: var(--dot-gap);
		margin-top: 15px;
	}

	&__dot {
		position: relative;
		width: var(--dot-size);
		height: var(--dot-size);
		border-radius: 100%;
		background-color: var(--cr-black);
		border: 1px solid;
		box-shadow: none;
		outline: none;
		user-select: none;
		transition: background-color 0.2s;
		cursor: pointer;

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: calc(var(--dot-size) + var(--dot-gap));
			height: calc(var(--dot-size) + var(--dot-gap));
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
		}

		&:not(.is-selected) {
			background-color: transparent;
		}
	}
}
