@use '_mixin' as *;

.c-card {
	position: relative;
	display: flex;
	min-width: 0;
	overflow: hidden;
	padding: 2px;
	color: var(--cr-card-text, var(--cr-brown));
	background-color: var(--cr-card-bg, var(--cr-white));
	border: 1px solid var(--cr-subtle);
	box-shadow: var(--shadow-3-transparent);
	border-radius: var(--br-2);
	gap: 5px;
	transition: var(--t-1);

	@media (hover: hover) {
		&:hover {
			box-shadow: var(--shadow-3);
			border-color: var(--cr-card-bg);
			z-index: 10;
		}
	}

	&__thumb {
		position: relative;
		overflow: hidden;
		border-radius: calc(var(--br-1) * 1.5);
		background-color: var(--cr-subtle);
	}

	&__gallery {
		display: flex;
		gap: var(--s-2-h);
		align-items: center;

		picture {
			flex: 1;
			background-color: var(--cr-subtle);
		}

		@include mobileDown {
			gap: 5px;
		}
	}

	&__lightbox {
		position: absolute;
		bottom: 10px;
		right: 10px;
		transition: var(--t-1);
		transform: translateY(10%);
		opacity: 0;
		z-index: 20;

		&:focus {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: var(--s-2-v) var(--s-2-h);
		gap: 15px;
	}

	&__categories {
		transition: opacity var(--t-1);
	}

	&__header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 5px;
		margin-bottom: 20px;
	}

	&__title {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		padding-bottom: 0.1em;
	}

	&__content {
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__excerpt {
		max-width: 500px;
		text-wrap: balance;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&__badge {
		padding: 6px 8px;
		font: var(--t-l-1);
		border: 1px solid var(--cr-subtle);
		border-radius: var(--br-1);
		background-color: var(--cr-cream);
		box-shadow: var(--shadow-3);
	}

	&__actions {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: auto;
		gap: 12px;
		z-index: 10;
	}

	&[style*='--cr-card-bg'] {
		.pill {
			--cr-primary: var(--cr-subtle) !important;
			--cr-secondary: var(--cr-cream) !important;
		}
	}

	@media (hover: hover) {
		&:hover &__lightbox {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	@include selection {
		color: var(--cr-white);
		background-color: var(--cr-primary);
	}
}

.c-card[data-layout*='vertical'] {
	flex-direction: column;

	.c-card__thumb {
		aspect-ratio: 1;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.c-card[data-layout='vertical-2'] {
	.c-card__thumb {
		aspect-ratio: 0.8;
		background-color: var(--cr-subtle);
		border-bottom-left-radius: calc(var(--br-1) * 1.5);
		border-bottom-right-radius: calc(var(--br-1) * 1.5);

		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 150px;
			left: 0;
			bottom: 0;
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 0) 100%
			);
		}
	}

	&:not(:hover) .c-card__categories {
		opacity: 0;
	}

	.c-card__info {
		position: absolute;
		inset: 0;
		gap: 10px;
		padding: 20px 15px;
		color: var(--cr-white);
	}

	.c-card__header {
		margin-top: auto;
		margin-bottom: 0;
	}

	.c-card__actions {
		margin-top: unset;
		margin-left: 3px;
	}
}

.c-card[data-layout*='horizontal'] {
	flex-direction: row;

	.c-card__thumb {
		flex: 1;
		aspect-ratio: 1.25;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.c-card__info {
		flex: 1;
	}
}

.c-card[data-layout*='horizontal-1'] {
	.c-card__thumb {
		max-width: 200px;
	}

	.c-card__lightbox {
		--size: 36px;
	}
}

.c-card[data-layout='horizontal-2'] {
	grid-column: span 3;

	.c-card__thumb {
		flex: 1;
		aspect-ratio: 1.25;
	}

	.c-card__info {
		padding: var(--s-3-v) var(--s-3-h);
	}

	.c-card__title {
		-webkit-line-clamp: 4;
	}

	.c-card__lightbox {
		--size: 36px;
	}
}

// location embed in guide singles
.c-card[data-layout='embed'] {
	overflow: visible;
	padding: 0 !important;
	border: unset !important;
	border-radius: 0 !important;
	box-shadow: unset !important;
	color: inherit !important;
	background-color: transparent !important;
	flex-direction: column;
	gap: var(--s-4-v);

	.c-card__url {
		display: none;
	}

	.c-card__info {
		padding: 0;
	}

	.c-card__header {
		margin-bottom: 0;
	}

	.c-card__title {
		color: var(--cr-primary);
	}

	.c-card__content {
		-webkit-line-clamp: unset;
	}

	.c-card__actions {
		margin-top: 20px;
	}

	@include tabletDown {
		gap: 30px;

		.c-card__title {
			font: var(--t-h-2);
		}
	}
}
