.c-form {
	display: flex;
	flex-direction: column;
	gap: var(--s-4-v);
	container-type: inline-size;
	container-name: form;

	&__form {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 20px;
	}

	.field[data-size='full'] {
		grid-column: span 6;
	}

	.field[data-size='1/2'] {
		grid-column: span 3;
	}

	.field[data-size='1/3'] {
		grid-column: span 2;
	}

	@container form (max-width: 764px) {
		.field[data-size='1/3'] {
			grid-column: span 6;
		}
	}

	@container form (max-width: 400px) {
		.field[data-size='1/2'] {
			grid-column: span 6;
		}
	}

	&__cta {
		width: 100%;
		margin-top: var(--s-4-v);
		grid-column: span 6;
	}
}
