.c-itinerary-card {
	// TODO
	// cqi unit fallback
	--space: clamp(10px, 1rem, 20px);
	position: relative;
	container-type: inline-size;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: calc(var(--space) * 2);
	padding: var(--space);
	padding-bottom: calc(var(--space) * 2.5);
	border-radius: var(--br-2);
	text-align: center;
	color: var(--cr-cream);
	background-color: var(--cr-primary);
	box-shadow: var(--shadow-3-transparent);
	user-select: none;
	transition:
		transform var(--t-1),
		box-shadow var(--t-1);

	@media (hover: hover) {
		&:hover {
			box-shadow: var(--shadow-3);
		}
	}

	&__header {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: calc(var(--space) / 2);
		text-align: left;
		gap: 3px;
	}

	&__title {
		color: var(--cr-secondary);
	}

	&__subtitle {
		height: 18cqi;
		font-size: Max(24px, 8cqi);
	}

	&__thumb {
		display: block;
		width: 85%;
		max-width: 450px;
		filter: contrast(1.2) grayscale(1);
		border-radius: 100%;
		overflow: hidden;

		picture {
			aspect-ratio: 1;
		}
	}

	&__cta {
		position: relative;
		width: 160px;
		z-index: 10;
	}
}
