@use '_mixin' as *;

.c-itinerary-list {
	position: relative;
	padding-top: var(--s-5-v);
	padding-bottom: var(--s-4-v);
	color: var(--cr-primary);
	background-color: var(--cr-white);
	border-top: 1px solid;
	border-bottom: 1px solid;
	transition: color var(--t-2);

	&__header {
		text-align: center;
		width: var(--width-sml);
		max-width: 600px;
		margin: 0 auto calc(-1 * var(--s-4-v));

		p {
			text-wrap: balance;
		}
	}

	&__item {
		transform-style: preserve-3d;
		perspective: 1000px;
	}

	.c-carousel {
		--item-width: Min(600px, 28vw) !important;

		&__container {
			align-items: stretch;
			padding: var(--s-5-v) 0;
		}

		&__dots {
			margin-top: calc(-1 * var(--s-4-v));
		}

		&__dot.is-selected {
			background-color: var(--cr-primary, var(--cr-black));
		}
	}

	@include tabletDown {
		.c-carousel {
			--item-width: Min(600px, 50vw) !important;
		}
	}

	@include mobileDown {
		padding-top: var(--s-section);
		padding-bottom: var(--s-3-v);

		&__header .t-h-2 {
			font: var(--t-h-1);
		}

		.c-carousel {
			--item-width: Min(450px, 85vw) !important;
		}
	}
}
