@use '_mixin' as *;

.c-location-list {
	padding: 10px;
	border: 1px dashed;
	border-radius: var(--br-2);

	&__title {
		margin-bottom: 20px;

		@include mobileDown {
			margin-bottom: 10px;
		}
	}
}
