.c-location-list {
	&__title {
		padding-block: 20px;
		border-top: 1px solid;
	}

	&__content:not(:last-child),
	&__item-content:not(:last-child) {
		margin-bottom: var(--s-4-v);
	}

	&__item-content {
		margin-top: var(--s-3-v);
	}
}
