@use '_mixin' as *;

.c-language-selector {
	--height: 35px;
	position: relative;
	display: inline-block;

	&__trigger {
		height: var(--height);
		gap: 5px;
		padding: 10px;
		border: 1px solid;
		border-radius: var(--br-1);
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		&:hover {
			background-color: var(--cr-brown);
			color: var(--cr-white);
		}
	}

	&__trigger-content {
		gap: 5px;
		flex: 1;
	}

	&__icon {
		width: 10px;
		height: 10px;
		flex-shrink: 0;
		transition: transform 0.2s ease-in-out;

		.is-open & {
			transform: rotate(180deg);
		}
	}

	&__options {
		position: absolute;
		top: calc(100% + 4px);
		right: 0;
		width: fit-content;
		background-color: var(--cr-cream);
		border: 1px solid;
		border-radius: var(--br-1);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		z-index: 10;
	}

	&__option {
		gap: 5px;
		width: 100%;
		padding: 10px;
		transition: all 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: var(--cr-brown);
			color: var(--cr-white);
		}

		&.is-active {
			background-color: var(--cr-brown);
			color: var(--cr-white);
			pointer-events: none;
		}
	}

	&__flag {
		width: 16px;
		height: 12px;
		flex-shrink: 0;
	}

	&__label {
		flex: 1;
		white-space: nowrap;
	}

	@include mobileDown {
		&__options {
			top: unset;
			bottom: calc(100% + 4px);
			left: 50%;
			transform: translate3d(-50%, 0, 0);
		}
	}
}
