.c-map {
	&__close {
		position: absolute;
		top: calc(var(--s-3-v) + 8px);
		right: calc(var(--s-3-h) + 8px);
	}

	@keyframes fadeScaleIn {
		0% {
			opacity: 0;
			transform: scale(0.4);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	[class*='marker-view']:hover {
		z-index: 1;
	}

	&__marker {
		display: flex;
		align-items: center;
		color: var(--cr-primary, --cr-green-d);
		background-color: var(--cr-secondary, --cr-green-l);
		box-shadow: var(--shadow-2);
		cursor: pointer;
		padding: 4px;
		border: 1px solid;
		border-radius: 50px;
		animation: 0.4s fadeScaleIn both;
		animation-delay: calc(0.02s * var(--index));
		transition:
			color var(--t-1),
			background-color var(--t-1),
			border-color var(--t-1);

		@include hover {
			color: var(--cr-secondary, --cr-green-d);
			background-color: var(--cr-primary, --cr-green-l);
			border-color: transparent;
		}

		&__thumb {
			position: relative;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			overflow: hidden;
			background-color: var(--cr-subtle);
		}

		&__content {
			display: flex;
			flex-direction: column;
			gap: 2px;
			padding: 4px 15px;
			padding-right: 20px;

			display: none;
		}

		@include hover {
			&__content {
				width: auto;
			}
		}

		&__title {
			font: var(--t-l-1);
		}
	}
}
