.wysiwyg,
.wysiwyg-page,
.wysiwyg-b-1,
.wysiwyg-b-2 {
	> *:not(:last-child) {
		margin-bottom: 15px;
	}

	.t-l-3:not(:last-child) {
		margin-bottom: 5px;
	}

	.btn,
	.btn-outline,
	.btn-underline {
		text-decoration: unset;

		&:not(:first-child) {
			margin-top: 10px;
		}
	}

	p,
	ol,
	ul {
		a {
			text-decoration: underline;
		}
	}
}

.wysiwyg-b-1 {
	p,
	ol,
	ul {
		font: var(--t-b-1);
	}
}

.wysiwyg-b-2 {
	p,
	ol,
	ul {
		font: var(--t-b-2);
	}
}

// General page specific WYSIWYG stylings
.wysiwyg-page {
	> *:not(:last-child) {
		margin-bottom: 20px;
	}

	.t-h-4:not(:last-child) {
		margin-bottom: 10px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.t-h-1,
	.t-h-2,
	.t-h-3,
	.t-h-4,
	.t-h-5,
	.t-h-6 {
		&:not(:first-child) {
			margin-top: 36px;
		}

		a {
			text-decoration: underline;
		}
	}

	p,
	ol,
	ul {
		font: var(--t-b-1);
	}

	ul,
	ol {
		padding-left: 1em;

		li:not(:last-child) {
			margin-bottom: 0.4em;
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	blockquote {
		margin: 30px auto;
		quotes: '\201C' '\201D' '\2018' '\2019';

		&,
		p {
			font: var(--t-h-2);
		}

		p {
			display: inline;
			margin: 0;
		}

		&:before {
			content: open-quote;
			display: inline;
		}

		&:after {
			content: close-quote;
			display: inline;
		}
	}

	table {
		width: 100%;
		font: var(--t-b-2);
		border-collapse: collapse;
		border-spacing: 0;

		th,
		td {
			font-weight: 400;
			text-align: left;
			padding: 5px;
			border: 1px solid var(--cr-subtle);
		}

		th {
			background-color: var(--cr-subtle);
		}

		p {
			font: inherit;
		}
	}
}
