@use '_mixin' as *;

.wysiwyg,
.wysiwyg-b-1,
.wysiwyg-b-2 {
	> *:not(:last-child) {
		margin-bottom: 15px;
	}

	.t-h-1:not(:last-child) {
		margin-bottom: 30px;
	}

	.btn,
	.btn-outline,
	.btn-underline {
		text-decoration: unset;

		&:not(:first-child) {
			margin-top: 40px;
		}
	}

	p,
	ol,
	ul {
		a {
			text-decoration: underline;
		}
	}

	@include tabletDown {
		.t-l-1:not(:last-child) {
			margin-bottom: 10px;
		}

		.btn,
		.btn-outline,
		.btn-underline {
			text-decoration: unset;

			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}
}

.wysiwyg-b-1 {
	p,
	ol,
	ul {
		font: var(--t-b-1);
	}
}

.wysiwyg-b-2 {
	p,
	ol,
	ul {
		font: var(--t-b-2);
	}
}

// General page specific WYSIWYG stylings
.wysiwyg-page {
	> *:not(:last-child) {
		margin-bottom: 20px;
	}

	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		font: var(--t-h-3);

		a {
			text-decoration: underline;
			text-decoration-color: var(--cr-primary, inherit);
		}

		b,
		strong {
			font-weight: 400;
		}

		@include mobileDown {
			font: var(--t-h-2);
		}
	}

	> h1,
	> h2 {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		&:not(:first-child) {
			margin-top: var(--s-5-v);
		}

		@include tabletDown {
			&:not(:first-child) {
				margin-top: 40px;
			}
		}
	}

	> h3,
	> h4,
	> h5,
	> h6 {
		font: var(--t-h-4);

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&:not(:first-child) {
			margin-top: 40px;
		}

		@include mobileDown {
			font: var(--t-h-3);
		}
	}

	& > p,
	& > ol,
	& > ul {
		font: var(--t-b-1);

		a {
			color: var(--cr-primary, inherit);
			text-decoration: underline;
			font-weight: 500;
			text-decoration-thickness: 2px;
		}

		b,
		strong {
			font-weight: 500;
		}
	}

	> ul,
	> ol {
		padding-left: 1em;

		li:not(:last-child) {
			margin-bottom: 0.4em;
		}

		ul,
		ol {
			margin-block: 0.8em;
			padding-left: 1em;
		}

		ol {
			list-style-type: decimal;
		}

		ul {
			list-style-type: disc;
		}
	}

	> ol {
		list-style-type: decimal;
	}

	> ul {
		list-style-type: disc;
	}

	> blockquote {
		margin: 30px auto;
		quotes: '\201C' '\201D' '\2018' '\2019';

		&,
		p {
			font: var(--t-h-2);
		}

		p {
			display: inline;
			margin: 0;
		}

		&:before {
			content: open-quote;
			display: inline;
		}

		&:after {
			content: close-quote;
			display: inline;
		}
	}

	> table {
		width: 100%;
		font: var(--t-b-2);
		border-collapse: collapse;
		border-spacing: 0;

		th,
		td {
			font-weight: 400;
			text-align: left;
			padding: 5px;
			border: 1px solid var(--cr-subtle);
		}

		th {
			background-color: var(--cr-subtle);
		}

		p {
			font: inherit;
		}

		.large-paragraph {
			margin-bottom: var(--s-4-v);
			font: var(--t-h-3);
		}
	}
}
