@mixin sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	width: var(--s-sidebar);
	padding: var(--s-4-v) var(--s-2-h);
	color: var(--cr-brown-d);
	background-color: var(--cr-white);
	border-radius: var(--br-2);
	box-shadow: var(--shadow-1);
	gap: 30px;
	text-align: center;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: transform var(--t-2);

	&.is-active {
		transform: translate3d(0%, -50%, 0);
		opacity: 1;
		pointer-events: auto;
	}
}

@mixin sidebarLeft {
	@include sidebar;
	left: var(--s-contain);
	transform: translate3d(-100%, -50%, 0);
}

@mixin sidebarRight {
	@include sidebar;
	right: var(--s-contain);
	transform: translate3d(100%, -50%, 0);
}

@mixin asideToggle {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate3d(-50%, -50%, 0);

	&__label {
		position: absolute;
		white-space: nowrap;
		top: 50%;
		left: -5px;
		transform: translate3d(-90%, -50%, 0);
		opacity: 0;
		pointer-events: none;
		transition: var(--t-1);
	}

	@media (hover: hover) {
		&:hover &__label {
			transform: translate3d(-100%, -50%, 0);
			opacity: 1;
		}
	}
}

.g-aside-map {
	position: fixed;
	top: 50%;
	right: var(--s-contain);
	width: calc(var(--s-sidebar));
	height: Min(100%, 480px);

	display: flex;
	flex-direction: column;
	padding: var(--s-2-v) var(--s-2-h);
	background-color: var(--cr-white);
	box-shadow: var(--shadow-2);
	border-radius: var(--br-3);
	z-index: 100;
	transform: translate3d(calc(100% + var(--s-contain)), -50%, 0);
	opacity: 0;
	pointer-events: none;
	transition: var(--t-2);

	&.is-active {
		transform: translate3d(calc(100% + 20px), -50%, 0);
		opacity: 1;
		pointer-events: auto;
	}

	&.is-expand {
		height: 100%;
		right: 0;
		width: Max(50vw, 600px);
		transform: translate3d(0%, -50%, 0);
		border-radius-top-right: 0;
		border-radius-bottom-right: 0;
	}

	.c-map {
		flex: 1;
		border-radius: var(--br-2);
		overflow: hidden;
	}

	&__toggle {
		@include asideToggle;
	}

	.is-expand &__toggle {
		&__icon {
			transform: scaleX(-1);
		}
	}
}
