$expanded_width: calc(var(--s-sidebar-w-contain) + Max(35vw, 300px));

.g-aside-map {
	position: fixed;
	top: 50%;
	right: var(--s-contain);
	width: calc(var(--s-sidebar));
	height: Min(100%, 480px);

	display: flex;
	flex-direction: column;
	padding: var(--s-2-v) var(--s-2-h);
	background-color: var(--cr-white);
	box-shadow: var(--shadow-2);
	border-radius: var(--br-3);
	z-index: 100;

	transform: translate3d(100%, -50%, 0);
	opacity: 0;
	pointer-events: none;
	transition: var(--t-2);

	&.is-active {
		transform: translate3d(0%, -50%, 0);
		opacity: 1;
		pointer-events: auto;
	}

	&.is-expand {
		height: 100%;
		right: 0;
		width: $expanded_width;
		border-radius-top-right: 0;
		border-radius-bottom-right: 0;
	}

	.c-map {
		flex: 1;
		border-radius: var(--br-2);
		overflow: hidden;
	}

	&__toggle {
		--size: 40px;

		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		transform: translate3d(-50%, -50%, 0);

		width: var(--size);
		height: var(--size);
		border-radius: 100%;
		box-shadow: var(--shadow-3-transparent);
		transition: var(--t-1);
		background-color: var(--cr-white);
		box-shadow: var(--shadow-3);
		overflow: hidden;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			inset: 0;
			border-radius: 100%;
			transition:
				transform var(--t-1),
				border-radius var(--t-1);
		}

		&:before {
			transform: scale(0);
			background-color: var(--cr-subtle);
		}

		&:after {
			border: 2px solid var(--cr-white);
		}

		&__icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: var(--size);
			height: var(--size);
			transition: transform var(--t-1);
		}

		&__label {
			position: absolute;
			white-space: nowrap;
			left: var(--size);
			top: 50%;
			transform: translateY(-50%);
			opacity: 0;
			pointer-events: none;
			transition: var(--t-1);
		}

		@media (hover: hover) {
			&:hover {
				width: calc(90px + 10px * 2 + var(--size));
				border-radius: var(--br-2);
			}

			&:hover:before {
				transform: scale(1);
				border-radius: var(--br-2);
			}

			&:hover:after {
				border-radius: var(--br-2);
			}

			&:hover &__label {
				opacity: 1;
			}
		}
	}

	.is-expand &__toggle {
		color: var(--cr-brown);
		background-color: var(--cr-cream);

		&__icon {
			transform: scaleX(-1);
		}
	}
}

#main.is-aside-map-expand {
	margin-right: calc($expanded_width + var(--s-contain));
}
