@use '_mixin' as *;

.g-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--width-max);
	margin: var(--s-3-v) auto;
	padding-top: var(--s-3-v);
	border-top: 1px solid;

	&__links {
		display: flex;
		align-items: center;
		justify-content: center;
		white-space: nowrap;
		margin-left: auto;
		gap: 20px;

		a:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			top: 110%;
			left: 0;
			border-top: 1px solid;
			transform-origin: right;
			transform: scaleX(0);
			transition: transform var(--t-2);
		}

		a:hover:after,
		.is-active a:after {
			transform: scaleX(1);
			transform-origin: left;
		}
	}

	@include tabletDown {
		gap: var(--s-4-v);
		flex-direction: column-reverse;
		align-items: stretch;
		padding-top: 0;
		text-align: center;

		&__links {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin-left: 0;
			gap: 0;

			li {
				padding: 15px 0;
				border-bottom: 1px solid;
			}

			li:nth-child(even) {
				border-left: 1px solid;
			}
		}

		&__copyright {
			margin-top: 20px;
		}
	}
}
