.g-header {
	position: sticky;
	top: var(--s-3-v);
	display: flex;
	flex-direction: column;
	width: var(--s-container-med);
	margin: var(--s-3-v) auto;
	background-color: var(--cr-cream);
	border: 1px solid;
	box-shadow: var(--shadow-1-transparent);
	border-radius: var(--br-1);
	z-index: 100;
	transition:
		background var(--t-2),
		box-shadow var(--t-2);

	&.is-scrolled {
		background-color: var(--cr-white);
		box-shadow: var(--shadow-1);
	}

	&__primary {
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 8px var(--s-3-h);
	}

	&__logo {
		font-size: 38px;
		line-height: 1;
	}

	&__tagline {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		flex: 1;
	}

	&__flag {
		display: flex;
		margin: 0 -0.2em;
		gap: 2px;

		&-dot {
			width: 5px;
			height: 5px;
			border-radius: 100%;
		}

		&-dot:nth-child(1) {
			background-color: #000091;
		}

		&-dot:nth-child(2) {
			background-color: #ffffff;
			border: 1px solid var(--cr-subtle);
		}

		&-dot:nth-child(3) {
			background-color: #e1000f;
		}
	}

	&__cta {
		margin-right: calc(-1 * var(--s-2-h));
	}

	&__nav {
		width: 100%;
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: space-between;
		padding: 12px var(--s-3-h);
		border-top: 1px solid;

		&__links {
			display: flex;
			gap: 15px;
			align-items: center;
			white-space: nowrap;
		}
	}
}
