.g-header {
	position: sticky;
	height: 100px;
	top: var(--s-3-v);
	width: var(--width-med);
	margin: var(--s-3-v) auto;
	overflow: hidden;
	background-color: var(--cr-cream);
	border: 1px solid;
	box-shadow: var(--shadow-1-transparent);
	border-radius: var(--br-1);
	z-index: 100;
	transition:
		height var(--t-2),
		background var(--t-2),
		box-shadow var(--t-3);

	&__primary {
		position: relative;
		display: flex;
		align-items: center;
		gap: var(--s-4-h);
		padding: 8px var(--s-3-h);
		z-index: 101;

		&__center {
			position: relative;
			flex: 1;
		}

		&__nav {
			display: flex;
			justify-content: space-between;
			transform: translate3d(0, 80px, 0);
			transition: transform var(--t-2);
		}
	}

	&__logo {
		font-size: 38px;
		line-height: 1;
	}

	&__tagline {
		position: absolute;
		inset: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		flex: 1;
		transition: transform var(--t-2);
	}

	&__flag {
		display: flex;
		margin: 0 -0.2em;
		gap: 2px;

		&-dot {
			width: 5px;
			height: 5px;
			border-radius: 100%;
		}

		&-dot:nth-child(1) {
			background-color: #000091;
		}

		&-dot:nth-child(2) {
			background-color: #ffffff;
			border: 1px solid var(--cr-subtle);
		}

		&-dot:nth-child(3) {
			background-color: #e1000f;
		}
	}

	&__cta {
		margin-right: calc(-1 * var(--s-2-h));
	}

	&__nav {
		width: 100%;
		display: flex;
		gap: 15px;
		align-items: center;
		justify-content: space-between;
		padding: 12px var(--s-3-h);
		border-top: 1px solid;
		transition: opacity var(--t-2);

		&__links {
			display: flex;
			gap: 15px;
			align-items: center;
			white-space: nowrap;
		}
	}

	&.is-scrolled {
		height: 62px;
		box-shadow: var(--shadow-1);
	}

	&.is-scrolled &__tagline {
		transform: translate3d(0, -60px, 0);
	}

	&.is-scrolled &__primary__nav {
		transform: translate3d(0, 0, 0);
		transition-delay: 0.2s;
	}

	&.is-scrolled &__nav {
		opacity: 0;
		pointer-events: none;
	}
}
