@use '_mixin' as *;

.g-header {
	--header-size: 50px;
	--logo-cta-width: 140px;
	--block-padding: 8.5px 20px;
	position: fixed;
	width: 100%;
	height: var(--header-size);
	top: 0;
	display: flex;
	gap: 20px;
	background-color: var(--cr-cream);
	border-bottom: 1px solid;
	z-index: 105;
	transition:
		color var(--t-2),
		background var(--t-2);

	&__logo {
		@include headerBlock;
		width: var(--logo-cta-width);
		font-size: 32px;
		letter-spacing: -0.02em;
		line-height: 1;
		border: none;
		border-right: 1px solid;

		svg {
			display: block;
			width: 100%;
			transform: translateX(-3%);
		}
	}

	.c-language-selector {
		align-self: center;
	}

	&__links {
		gap: 16px;
	}

	&__cta {
		@include headerBlock;
		gap: 10px;

		@include tabletUp {
			width: var(--logo-cta-width);

			html[lang='en'] & .btn-underline {
				margin-top: -3px;
			}
		}
	}

	&__toggle {
		--height: 35px;
		position: relative;
		display: flex;
		width: fit-content;
		margin-right: auto;
		margin-block: calc((var(--header-size) - var(--height)) / 2);
		gap: 2px;
		padding: 2px;
		height: var(--height);
		border-radius: calc(var(--height) / 2);
		border: 1px solid;
		background-color: var(--cr-subtle);

		&__active {
			position: absolute;
			top: 2px;
			left: 0;
			height: calc(var(--height) - 4px - 2px);
			background-color: var(--cr-brown);
			border-radius: calc((var(--height) - 4px) / 2);
			pointer-events: none;
			z-index: -1;
		}

		a {
			display: block;
			padding-inline: 15px;
			white-space: nowrap;
			line-height: calc(var(--height) - 4px - 2px);
			border-radius: calc((var(--height) - 4px) / 2);
			transition:
				color 0.25s,
				background-color 0.5s;

			&.is-active {
				color: var(--cr-cream);
			}

			@media (hover: hover) {
				&:not(.is-active):hover {
					background-color: var(--cr-subtle-1);
				}
			}
		}

		// fill background before movable toggle is setup
		&:has(.g-header__toggle__active[style*='width:0px']) a.is-active {
			background-color: var(--cr-brown);
		}

		@include mobileDown {
			--height: 32px;
			margin-left: auto;
			margin-right: 4px;
			border-color: var(--cr-subtle);

			a {
				font-size: 10px;
				line-height: 28px;
				padding-inline: 12px;
			}
		}
	}

	&.is-transparent:not(.is-scrolled):not(.is-mobile-open) {
		color: var(--cr-white);
		background-color: transparent;

		.g-header__toggle__active {
			background-color: var(--cr-white);
		}

		.g-header__toggle a.is-active {
			color: var(--cr-brown);
			background-color: var(--cr-white);
		}
	}

	@include tabletDown {
		--header-size: 45px;
		--logo-cta-width: unset;
		--block-padding: 8px 13px;
		gap: unset;

		&__logo {
			width: 100px;
			padding: 0 8px;
		}

		&__cta .btn-underline {
			text-transform: uppercase;
			letter-spacing: 0.04em;
			font: var(--t-l-2);

			// &:before,
			// &:after {
			// 	display: none;
			// }
		}
	}

	@include mobileDown {
		&__logo {
			font-size: 34px;
		}

		&__cta {
			border-left: unset;
		}
	}
}
