@use '_mixin' as *;

.g-mobile-menu-trigger {
	@include headerBlock;
	position: relative;
	height: var(--header-size);
	gap: 0.4em;
	z-index: 110;

	&__lines {
		position: relative;
		width: 15px;
		aspect-ratio: 1;
	}

	&__line {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform-origin: center;
		transform: translate(-50%, -50%) rotate(0deg);
		border-top: 1px solid;
		transition: var(--t-1);

		&:nth-child(1) {
			top: 25%;
		}

		&:nth-child(2) {
			top: 75%;
		}

		.is-mobile-open &:nth-child(1) {
			top: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		.is-mobile-open &:nth-child(2) {
			top: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		.is-mobile-open &:nth-child(3) {
			opacity: 0;
		}
	}

	@include tabletUp {
		display: none;
	}
}
