.g-map {
	position: fixed;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;

	display: flex;
	padding: var(--s-3-v) var(--s-3-h);
	background-color: var(--cr-white);
	box-shadow: var(--shadow-2);
	border-radius: var(--br-3);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	.c-map {
		flex: 1;
	}
}

// #main {
// 	margin-left: calc(var(--s-sidebar) + var(--s-contain) * 2);
// 	margin-right: calc(40% + var(--s-contain));
// }
