@use '_mixin' as *;

.g-magnify {
	--cr-primary: var(--cr-brown-d);
	--cr-secondary: var(--cr-brown-l);
	position: relative;
	z-index: 200;

	&__overlay {
		display: block;
		position: fixed;
		inset: 0;
		backdrop-filter: blur(2px);
		background-color: rgba(0, 0, 0, 0.6);
		transition: opacity var(--t-2);
		cursor: default;
	}

	&__content {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: Min(800px, 100vw);
		color: var(--cr-primary);
		background-color: var(--cr-cream);
		box-shadow: var(--shadow-1);
		gap: 30px;
		z-index: 200;
		transition:
			box-shadow var(--t-2),
			transform var(--t-2);
	}

	&__toggle {
		@include asideToggle;
		top: 40px;
		z-index: 205;
	}

	&__body {
		height: 100%;
		overflow-y: auto;
		padding: var(--s-4-v) 0;
		@include customScrollbar(var(--cr-primary));
	}

	.c-carousel__dot.is-selected {
		background-color: var(--cr-primary);
	}

	&:not(.is-active) {
		pointer-events: none;
	}

	&:not(.is-active) &__overlay {
		opacity: 0;
	}

	&:not(.is-active) &__content {
		transform: translate3d(calc(100% + 40px), 0, 0);
		box-shadow: var(--shadow-1-transparent);
		transition-delay: 0.15s;
	}

	@include selection {
		color: var(--cr-secondary);
		background-color: var(--cr-primary);
	}

	@include tabletDown {
		&__toggle {
			top: var(--s-contain);
			left: unset;
			right: var(--s-contain);
			transform: unset;

			&__label {
				opacity: 1;
				transform: translate3d(-100%, -50%, 0);
			}
		}

		&__body {
			padding-top: calc(var(--s-header) + var(--s-4-v));
		}
	}
}

.g-magnify-locations {
	&__heading {
		margin: 0 var(--s-4-h) var(--s-4-v);
		text-align: center;
	}

	&__categories {
		.c-category-pill-list {
			justify-content: center;
		}

		.pill:not(.is-active):not(:hover) {
			--cr-primary: var(--cr-subtle) !important;
			--cr-secondary: var(--cr-brown) !important;
		}
	}

	&__res {
		padding: var(--s-2-v) var(--s-2-h);
		margin: var(--s-4-v) var(--s-3-h);
		background-color: var(--cr-secondary);
		border: 1px solid var(--cr-subtle);
		box-shadow: var(--shadow-2);
		border-radius: var(--br-1);
	}

	&__urls,
	&__content,
	&__address,
	&__fees,
	&__categories {
		border-top: 1px solid var(--cr-subtle);
		padding: var(--s-3-v) var(--s-3-h);
	}

	&__images {
		margin-bottom: var(--s-3-v);

		picture {
			background-color: var(--cr-subtle);
		}

		img {
			width: auto;
			height: 360px;
		}
	}
}
