@use '_mixin' as *;

.g-magnify {
	--cr-primary: var(--cr-brown-d);
	--cr-secondary: var(--cr-brown-l);
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: flex-end;
	overflow-y: auto;
	overflow-x: clip;
	transform: translate3d(0, 0, 0);
	backdrop-filter: blur(10px);
	background-color: rgba(125, 125, 125, 0.6);
	transition:
		background-color 1s,
		backdrop-filter 1s linear;
	z-index: 200;

	&__overlay {
		display: block;
		position: sticky;
		top: 0;
		flex: 1;
		cursor: default;
	}

	&__content {
		position: relative;
		width: Min(800px, 100vw);
		height: fit-content;
		transform: translate3d(0, 0, 0);
		min-height: 100%;
		color: var(--cr-primary);
		background-color: var(--cr-cream);
		box-shadow: var(--shadow-1);
		gap: 30px;
		z-index: 200;
		transition:
			box-shadow var(--t-2),
			transform var(--t-2);
	}

	&__header {
		--height: 60px;
		position: sticky;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: var(--height);
		top: 0;
		padding-right: 5px;
		background-color: var(--cr-cream);
		border-bottom: 1px solid;
		z-index: 205;
	}

	&__toggle {
		@include asideToggle;
	}

	&__body {
		height: 100%;
		overflow-y: auto;
	}

	.c-carousel__dot.is-selected {
		background-color: var(--cr-primary);
	}

	&:not(.is-active) {
		pointer-events: none;
		backdrop-filter: blur(0px);
		background-color: rgba(0, 0, 0, 0);
	}

	&:not(.is-active) &__content {
		transform: translate3d(calc(100% + 40px), 0, 0);
		box-shadow: var(--shadow-1-transparent);
		transition-delay: 0.15s;
	}

	@include selection {
		color: var(--cr-secondary);
		background-color: var(--cr-primary);
	}

	@include tabletDown {
		&__header {
			padding-inline: 10px;
			padding-right: 5px;
			justify-content: space-between;
		}

		&__toggle {
			position: relative;
			top: unset;
			left: unset;
			transform: unset;
		}

		&__heading {
			margin-inline: 60px;
		}
	}
}

.g-magnify-locations {
	padding: var(--s-4-v) 0;

	&__highlights {
		text-align: center;
		margin: 0 var(--s-4-h) 10px;
	}

	&__heading {
		margin: 0 var(--s-4-v) var(--s-4-h);
		text-align: center;
	}

	&__cta {
		text-align: center;
		margin-bottom: var(--s-4-v);
	}

	&__categories {
		.c-category-pill-list {
			justify-content: center;
		}

		.pill:not(.is-active):not(:hover) {
			--cr-primary: var(--cr-subtle) !important;
			--cr-secondary: var(--cr-brown) !important;
		}
	}

	&__res {
		padding: var(--s-2-v) var(--s-2-h);
		margin: var(--s-4-v) var(--s-3-h);
		background-color: var(--cr-secondary);
		border: 1px solid var(--cr-subtle);
		box-shadow: var(--shadow-2);
		border-radius: var(--br-1);
	}

	&__urls,
	&__content,
	&__address,
	&__fees,
	&__categories {
		border-top: 1px solid var(--cr-subtle);
		padding: var(--s-3-v) var(--s-3-h);
	}

	&__images {
		margin-bottom: var(--s-3-v);

		picture {
			background-color: var(--cr-subtle);
		}

		img {
			width: auto;
			height: clamp(350px, 100vw, calc(var(--s-vp-height) * 0.5));
		}
	}
}

.g-magnify:has(.g-magnify-cases) .g-magnify {
	&__header {
		margin-bottom: calc(-1 * var(--height));
		background-color: transparent;
		border-bottom: unset;
	}

	&__content {
		width: Min(2400px, 90vw);
	}

	@include tabletDown {
		&__content {
			width: 100vw;
		}
	}
}

.g-magnify-cases {
	--s-sml: 720px;
	--width-sml: Min(100vw - calc(var(--s-contain) * 2), var(--s-sml));

	&__hero {
		position: relative;
		display: flex;
		min-height: clamp(400px, calc(var(--s-vp-height) * 0.5), 800px);
		align-items: flex-end;
		padding: 40px var(--s-contain);
		background-color: var(--cr-primary);
		justify-content: stretch;

		&__image:after {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			bottom: 0;
			max-height: 300px;
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 1) 0%,
				rgba(0, 0, 0, 0) 100%
			);
		}

		&__text {
			position: relative;
			color: var(--cr-cream);
			z-index: 1;
		}
	}

	&__highlights {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		width: var(--width-sml);
		margin: var(--s-section) auto;

		&__summary p {
			font: var(--t-h-4);
		}

		&__offers-title {
			margin-bottom: -20px;
			margin-top: 30px;
		}

		&__offers {
			width: 100%;

			li {
				display: flex;
				align-items: center;
				gap: 0.5em;
				padding: var(--s-2-v) 0;
				border-top: 1px solid var(--cr-subtle);

				&:before {
					content: '✓';
					display: flex;
					justify-content: center;
					align-items: center;
					width: 1.5em;
					aspect-ratio: 1;
					background-color: var(--cr-subtle);
					border-radius: 100%;
				}

				span {
					flex: 1;
				}
			}
		}
	}

	&__content {
		margin: var(--s-section) var(--s-contain);

		& > {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			ol,
			ul,
			.c-location-list {
				width: var(--width-sml);
				margin-inline: auto;
			}
		}

		.c-location-list {
			margin-block: 60px;
		}

		.c-image-columns {
			margin-block: 60px;

			&:has(+ .c-image-columns) {
				margin-bottom: -50px;
			}
		}

		@include tabletDown {
			.c-image-columns {
				width: 100vw;
				margin-inline: calc(-1 * var(--s-contain));
				gap: 5px;

				.c-portable-image__caption {
					margin-top: 5px;
					margin-bottom: 10px;
					padding-inline: 5px;
				}
			}

			.c-image-columns:has(+ .c-image-columns) {
				margin-bottom: -55px;
			}
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		grid-column: span 2;
		margin-bottom: 40px;

		.t-l-1 {
			white-space: nowrap;
		}
	}

	&__accomodations {
		margin: var(--s-section) var(--s-contain);
		text-wrap: balance;
		padding-top: var(--s-3-v);
		gap: var(--s-3-v) var(--s-3-h);
		border-top: 1px solid;
	}
}
