@use '_mixin' as *;

@mixin advancedFieldInteractions {
	.c-field input {
		cursor: pointer;

		@media (hover: hover) {
			&:hover {
				outline-color: var(--cr-green-d);
			}
		}
	}
}

.g-planner {
	position: relative;
	z-index: 200;

	&__overlay {
		display: block;
		position: fixed;
		inset: 0;
		backdrop-filter: blur(10px);
		background-color: rgba(0, 0, 0, 0.8);
		transition: opacity 0.6s;
		cursor: default;
	}

	&__content {
		position: fixed;
		top: 50%;
		left: 50%;
		width: Min(800px, 95vw);
		padding: var(--s-5-v) var(--s-5-h) var(--s-4-v);
		transform: translate3d(-50%, -50%, 0);
		color: var(--cr-brown);
		background-color: var(--cr-white);
		border-radius: var(--br-3);
		box-shadow: var(--shadow-1);
		gap: 30px;
		z-index: 200;
		transition: var(--t-1);
	}

	&:not(.is-active) {
		pointer-events: none;
	}

	&:not(.is-active) &__overlay {
		opacity: 0;
	}

	&:not(.is-active) &__content {
		opacity: 0;
		box-shadow: var(--shadow-1-transparent);
	}

	&:not(.is-active) &__content {
		transform: translate3d(-50%, calc(-50% + 40px), 0);
	}

	&:not(.is-active).is-fullscreen &__content {
		transform: translate3d(-50%, -50%, 0) scale(0.85);
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	@include tabletDown {
		&__content {
			padding: 30px 20px 20px;
			padding-top: 60px;
		}
	}

	&.is-fullscreen &__content {
		height: 100%;
		width: 100%;
		border-radius: 0;
		overflow-y: auto;
	}

	&.is-fullscreen &__close {
		position: fixed;
	}
}

.g-planner-form {
	gap: var(--s-4-v);

	&__header {
		text-align: center;

		@include mobileUp {
			.pill {
				margin-bottom: 30px;
			}
		}

		p {
			text-wrap: balance;
		}
	}

	&__when {
		@include advancedFieldInteractions;

		.react-calendar {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate3d(-50%, 10px, 0);
			width: 200%;
			max-width: unset;
			z-index: 10;
			background-color: var(--cr-white);
			transition: opacity var(--t-1);

			@include tabletDown {
				width: 100%;
			}

			&:not(.is-active) {
				opacity: 0;
				pointer-events: none;
			}
		}
	}

	&__who {
		@include advancedFieldInteractions;

		&__detail {
			position: absolute;
			top: calc(100% + 10px);
			left: 0;
			width: 100%;
			z-index: 10;
			background-color: var(--cr-white);
			transition: opacity var(--t-1);

			padding: 4px 20px;
			border: 1px solid var(--cr-subtle);
			box-shadow: var(--shadow-2);
			border-radius: var(--br-3);

			&:not(.is-active) {
				opacity: 0;
				pointer-events: none;
			}

			&__label {
				font-weight: 500;
			}
		}

		&__detail__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 16px 0;

			&:not(:last-child) {
				border-bottom: 1px solid var(--cr-subtle);
			}

			.g-planner-form__who__detail__label-group {
				display: flex;
				flex-direction: column;
			}

			.g-planner-form__who__detail__label {
				font-size: 16px;
				font-weight: 500;
			}

			.g-planner-form__who__detail__sublabel {
				font-size: 14px;
				color: #757575;
				margin-top: 4px;
			}

			.g-planner-form__who__detail__form {
				display: flex;
				align-items: center;
				gap: 16px;

				button {
					width: 35px;
					height: 35px;
					border: 1px solid var(--cr-subtle);
					border-radius: 50%;
					font-size: 14px;
					line-height: 1;
					cursor: pointer;
					transition: var(--t-1);

					@media (hover: hover) {
						&:not(:disabled):hover {
							background: var(--cr-subtle);
						}
					}

					&:disabled {
						opacity: 0.4;
						background-color: transparent;
						cursor: not-allowed;
					}
				}

				.g-planner-form__who__detail__qty {
					font-size: 16px;
					font-weight: 500;
				}
			}
		}

		&__detail__divider {
			border: none;
			border-top: 1px solid #e0e0e0;
			margin: 0;
		}
	}

	&__help,
	&__budget {
		max-height: 0;
		overflow: hidden;
		margin-top: 10px;
		transition:
			max-height 0.5s ease,
			opacity 0.5s ease;
		opacity: 0;

		&.is-visible {
			max-height: 300px; // or auto with JS, but safe with fixed max-height
			opacity: 1;
		}

		display: flex;
		flex-wrap: wrap;
		gap: 12px 8px;
		text-align: center;
		justify-content: center;

		&__title {
			width: 100%;
		}

		.pill {
			height: 30px;
			font-size: 14px;
			border-radius: 15px;
		}

		.pill.is-active {
			background-color: var(--cr-green-l);
			border-color: var(--cr-green-d);
			color: var(--cr-green-d);
		}

		@media (hover: hover) {
			.pill:hover {
				background-color: var(--cr-subtle-1);
			}
		}
	}

	&__body {
		margin-bottom: 40px;

		.c-field {
			max-width: 600px;
			margin-inline: auto;
			align-self: stretch;

			textarea {
				white-space: normal;
				padding-block: calc(var(--height) / 2);
				height: calc(var(--height) * 1.5);
				text-align: center;
				text-wrap: balance;
				background-color: var(--cr-subtle);
				border-color: var(--cr-subtle-1);
			}
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__cta {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 8px;

		.btn {
			min-width: 220px;
		}
	}

	&__error {
		width: fit-content;
		margin-top: 16px;
		padding: 8px 20px;
		border-radius: 20px;
		color: var(--cr-blue-d);
		background-color: var(--cr-blue-l);
		text-align: center;
		opacity: 0;
		pointer-events: none;
	}

	&__error.is-visible {
		pointer-events: auto;
		animation: 0.4s 0.8s fadeIn both;
	}

	&__author {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 20px;
		border-radius: var(--br-3);
		background: var(--cr-cream);
		gap: 20px;

		&__img {
			width: 90px;
			height: 90px;
			background-color: var(--cr-subtle);
			overflow: hidden;
			border-radius: 100%;
		}

		&__text {
			flex: 1;
			text-align: center;

			p {
				font: var(--t-b-2);
				text-wrap: balance;
			}

			p:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}

	@include tabletDown {
		.c-field textarea {
			padding-block: calc(var(--height) / 3);
			height: calc(var(--height) * 1.6);
		}

		.c-field[data-size='1/2'] {
			grid-column: 1 / -1;
		}

		&__cta {
			flex-direction: column;
		}

		&__author {
			flex-direction: column;
			gap: 16px;
		}
	}

	@include mobileDown {
		.t-h-1 {
			max-width: 320px;
			font: var(--t-h-2);
			margin-inline: auto;
			margin-bottom: 10px !important;

			html[lang='zh_TW'] & {
				font: var(--t-h-1);
				margin-bottom: 30px !important;
			}
		}
	}
}
