@use '_mixin' as *;

.g-plan {
	--cr-primary: var(--cr-green-d);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(var(--s-vp-height) - var(--s-header-space) - var(--s-contain));
	width: var(--width-max);
	margin: auto;
	padding: var(--s-5-v) var(--s-5-h);
	color: var(--cr-primary);

	@include selection {
		color: var(--cr-cream);
		background-color: var(--cr-primary);
	}

	&__image {
		align-self: stretch;
		border-radius: var(--br-3);
		overflow: hidden;
		background-color: var(--cr-subtle);
	}

	&__container {
		position: relative;
		display: flex;
		max-width: 1600px;
		border-radius: var(--br-3);
		background-color: var(--cr-white);
		box-shadow: var(--shadow-1);
		overflow: hidden;
		border: 1px solid var(--cr-subtle-2);
	}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--s-4-v);

		&__header {
			text-align: center;
			max-width: 500px;
			margin: auto;
		}
	}

	& &__form {
		flex: 1;
		padding: var(--s-5-v) var(--s-5-h);
	}

	&__offers {
		li {
			display: flex;
			align-items: center;
			gap: 0.5em;
			padding: var(--s-2-v) 0;
			border-top: 1px solid var(--cr-subtle);

			&:before {
				content: '✓';
				display: flex;
				justify-content: center;
				align-items: center;
				width: 1.5em;
				aspect-ratio: 1;
				background-color: var(--cr-subtle);
				border-radius: 100%;
			}

			span {
				flex: 1;
			}
		}
	}

	&__support {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: var(--s-5-v);
		padding: var(--s-5-v) var(--s-5-h);
		background-color: var(--cr-cream);
		border-left: 1px solid var(--cr-subtle-2);
	}

	&__contact,
	&__faq {
		display: flex;
		flex-direction: column;

		&__title {
			margin-bottom: var(--s-3-v);
			padding-top: var(--s-2-v);
			border-top: 1px solid;
		}
	}

	&__contact {
		&-items {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			justify-content: center;
			user-select: none;
		}

		&-item {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			white-space: nowrap;
			gap: 6px;
			padding: 12px;
			border-radius: var(--br-1);
			border: 1px solid var(--cr-subtle);
			transition: var(--t-1);

			@media (hover: hover) {
				&:hover {
					border-color: var(--cr-subtle-2);
				}
			}
		}
	}

	&__faq {
		flex: 1;

		&__content {
			margin-top: auto;
		}

		.c-accordion__title {
			font-weight: 500;
		}

		.c-accordion__inner {
			padding-bottom: var(--s-4-v);
		}
	}
}
