@use '_mixin' as *;

.p-booking__hero {
	--gap: 20px;
	display: flex;
	height: calc(100vh - var(--s-header));
	height: calc(100svh - var(--s-header));
	margin-top: var(--s-header);
	gap: var(--gap);

	&__content {
		max-width: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin: auto;
		padding-left: var(--padding-lge);
		// align-items: center;
		// text-align: center;
	}

	&__spots {
		width: 50%;
		display: flex;
		gap: var(--gap);
		padding-inline: var(--padding-max);
	}

	&__column {
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		height: fit-content;
		gap: var(--gap);
		margin-top: -5%;

		&:nth-child(1) {
			margin-top: -30%;
		}

		&:nth-child(even) {
			margin-top: -20%;
		}
	}

	&__spot {
		width: 100%;
		background-color: var(--cr-subtle);
	}
}

.p-booking__why {
	--heading-max-size: 1480px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(Min(80vw, var(--heading-max-size)) + var(--s-section) * 2);
	overflow: clip;
	padding-block: var(--s-section);
	padding-inline: var(--padding-max);
	color: var(--cr-cream);

	&__border-radius {
		position: absolute;
		width: 120%;
		height: 100%;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		background-color: var(--cr-green-d);
		border-radius: 50%;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}

	@include selection {
		color: var(--cr-green-d);
		background-color: var(--cr-cream);
	}

	&__heading {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		width: Min(120%, var(--heading-max-size));
		pointer-events: none;

		&__text {
			fill: var(--cr-cream);
			text-transform: uppercase;
		}
	}

	&__lists {
		position: relative;
		display: flex;
		max-width: 450px;
		flex-direction: column;
		align-items: flex-start;
		gap: 60px;

		p {
			text-wrap: balance;
		}

		.btn-outline {
			margin-top: 20px;
		}
	}

	&__lists-item {
		display: grid;
		grid-template-columns: 60px 1fr;
		gap: 10px;
		align-items: start;
		animation: fadeInUp40 0.6s;
		animation-play-state: paused;
		animation-fill-mode: both;

		&.is-in-view {
			animation-play-state: running;
		}

		.p-booking__why__lists-icon {
			grid-row: span 2;
		}

		h2 {
			margin: 0;
		}

		p {
			margin: 0;
		}
	}

	&__lists-icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: var(--cr-subtle);
		border-radius: 100%;

		img,
		svg {
			width: 50%;
			height: 50%;
		}
	}

	&__lists-cta {
		grid-column-start: 2;
	}
}

.p-booking__examples {
	position: relative;
	padding-block: var(--s-section);
	background-color: var(--cr-white);

	&__heading {
		margin-bottom: var(--s-5-v);
		margin-inline: var(--padding-lge);
	}

	&__lists {
		display: flex;
		gap: 40px;
		padding-inline: var(--padding-lge);
	}

	&__chat {
		flex: 1;
		transition: opacity var(--t-1);
	}

	&:has(&__chat:hover) &__chat:not(:hover) {
		opacity: 0.2;
	}

	&:has(&__chat:hover) &__chat:hover &__chat__sequence {
		border-color: var(--cr-secondary);
		transform: translateY(-60px);
	}

	&__chat__header {
		margin-top: var(--s-4-v);
		text-align: center;
	}

	&__chat__sequence {
		position: relative;
		display: flex;
		flex-direction: column;
		aspect-ratio: 0.7;
		overflow-y: auto;
		gap: 8px;
		padding: 20px;
		border-radius: var(--br-3);
		background-color: var(--cr-cream);
		border: 1px solid var(--cr-subtle);
		z-index: 10;
		transition: var(--t-1);
	}

	&__chat__bubble {
		max-width: 70%;
		padding: 12px 16px;
		border-radius: 16px;
		font-size: 16px;
		line-height: 1.4;
		color: var(--cr-black);
		user-select: none;
		animation: fadeInUp10 0.3s ease-in-out;
		animation-play-state: paused;
		animation-fill-mode: both;

		&.is-client {
			align-self: flex-start;
			background-color: var(--cr-subtle);
		}

		&.is-spots {
			align-self: flex-end;
			background-color: var(--cr-secondary);
		}

		&.is-client + &.is-spots,
		&.is-spots + &.is-client {
			margin-top: 8px;
		}
	}

	.btn {
		display: block;
		min-width: 200px;
		margin-inline: auto;
		margin-top: calc(var(--height) * -1);
	}

	&.is-in-view &__chat__bubble {
		animation-play-state: running;
	}
}
