@use '_mixin' as *;

@mixin sectionHeader {
	&__header {
		width: Min(90vw, 800px);
		margin-bottom: var(--s-5-v);
		margin-inline: auto;
		text-align: center;

		p {
			text-wrap: balance;
		}

		@include tabletDown {
			margin-bottom: 30px;

			.t-h-1 {
				font: var(--t-h-2);
			}
		}
	}
}

.p-booking__hero {
	--gap: 20px;
	display: flex;
	height: calc(100vh - var(--s-header));
	height: calc(100svh - var(--s-header));
	margin-top: var(--s-header);
	padding-inline: var(--padding-max);

	&__content {
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: auto;

		p {
			text-wrap: balance;
		}
	}

	@include lgScreenDown {
		--gap: 10px;

		&__content {
			max-width: 600px;

			.t-h-1 {
				font: var(--t-h-2);
			}
		}
	}

	&__spots {
		flex: 1;
		display: flex;
		gap: var(--gap);
	}

	.c-card {
		&__header {
			margin-bottom: -5px !important;
		}

		&__actions {
			display: none;
		}

		@media (hover: hover) {
			&__info {
				transition: var(--t-2);
			}

			&:not(:hover) .c-card__info {
				opacity: 0;
			}
		}
	}

	&__column {
		position: relative;
		display: flex;
		flex: 1;
		flex-direction: column;
		height: fit-content;
		gap: var(--gap);
		margin-top: -5%;

		&:nth-child(1) {
			margin-top: -10%;
		}

		&:nth-child(even) {
			margin-top: -20%;
		}
	}

	@include midScreenDown {
		transform: unset !important;
		height: fit-content;
		padding-inline: 0;
		flex-direction: column;
		margin-bottom: var(--s-2-v);

		&__content {
			padding: var(--s-5-v) var(--padding-med);
			padding-bottom: var(--s-4-v);
		}

		&__column {
			flex-direction: row;
		}

		.c-card__info,
		.c-card__thumb:after {
			display: none !important;
		}
	}
}

.p-booking__why {
	--heading-max-size: 1480px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(Min(80vw, var(--heading-max-size)) + var(--s-section) * 2);
	overflow: clip;
	padding-block: var(--s-section);
	padding-inline: var(--padding-max);
	color: var(--cr-cream);

	@include selection {
		color: var(--cr-green-d);
		background-color: var(--cr-cream);
	}

	&__border-radius {
		position: absolute;
		width: 120%;
		height: 100%;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
		background-color: var(--cr-green-d);
		border-radius: 50%;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}

	&__heading {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		width: Min(95%, var(--heading-max-size));
		pointer-events: none;
		user-select: none;

		&__text {
			fill: var(--cr-cream);
			text-transform: uppercase;
		}
	}

	&__lists {
		position: relative;
		display: flex;
		max-width: 450px;
		flex-direction: column;
		align-items: flex-start;
		gap: 60px;

		.btn-outline {
			margin-top: 20px;
		}

		@include mobileDown {
			gap: 40px;
		}
	}

	&__lists-item {
		display: grid;
		grid-template-columns: 60px 1fr;
		gap: 10px;
		align-items: start;
		animation: fadeInUp40 0.6s;
		animation-play-state: paused;
		animation-fill-mode: both;

		&.is-in-view {
			animation-play-state: running;
		}

		.p-booking__why__lists-icon {
			font: var(--t-h-5);
			grid-row: span 2;

			&__img,
			&__num {
				transition: opacity var(--t-1);
			}
		}

		&:not(:hover) .p-booking__why__lists-icon__img,
		&:hover .p-booking__why__lists-icon__num {
			opacity: 0;
		}

		h2 {
			margin: 0;
		}

		p {
			text-wrap: balance;
			margin: 0;
		}
	}

	&__lists-icon {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: var(--cr-subtle);
		border-radius: 100%;

		.object-contain {
			width: 50%;
			height: 50%;
		}
	}

	&__lists-cta {
		grid-column-start: 2;
	}

	@include midScreenDown {
		min-height: unset;

		&__border-radius {
			border-radius: 0 !important;
		}

		&__heading {
			position: relative;
			top: unset;
			left: unset;
			transform: unset;
			width: Min(80vw, 360px);
			margin-bottom: var(--s-4-v);
			font: var(--t-h-1);
		}
	}
}

.p-booking__examples {
	position: relative;
	padding-block: var(--s-section);
	background-color: #f8f3ca;
	border-bottom: 1px solid;

	@include sectionHeader;

	@include tabletDown {
		&__header {
			margin-bottom: var(--s-section);
		}
	}

	&__lists {
		display: flex;
		gap: 40px;
		padding-inline: var(--padding-lge);

		@media screen and (max-width: 1800px) {
			gap: 20px;
		}

		@media (hover: hover) {
			&:has(.p-booking__examples__chat:hover)
				.p-booking__examples__chat:not(:hover) {
				opacity: 0.2;
			}

			&:has(.p-booking__examples__chat:hover)
				.p-booking__examples__chat:hover
				.p-booking__examples__chat__sequence {
				border-color: var(--cr-secondary);
				transform: translateY(-72px);
			}
		}
	}

	.c-carousel {
		.p-booking__examples__chat {
			&__header {
				margin-bottom: 20px;
			}

			.t-h-4 {
				font: var(--t-h-3);
			}

			&__cta {
				margin-top: 20px;
			}
		}

		.p-booking__examples__item:not(.is-snapped) .p-booking__examples__chat {
			opacity: 0.6;
		}

		&__controls {
			margin-top: 20px;
		}
	}

	&__chat {
		flex: 1;
		transition: opacity var(--t-1);

		&__header {
			margin-bottom: var(--s-4-v);
			text-align: center;
			color: var(--cr-primary);
		}

		&__cta {
			display: block;
			min-width: 200px;
			margin-inline: auto;
			margin-top: calc(var(--height) * -1);
		}

		&__sequence {
			position: relative;
			display: flex;
			flex-direction: column;
			aspect-ratio: 0.7;
			overflow-y: auto;
			gap: 8px;
			padding: 20px;
			border-radius: var(--br-3);
			background-color: var(--cr-cream);
			border: 1px solid var(--cr-subtle);
			z-index: 10;
			transition: var(--t-1);
		}

		&__bubble {
			max-width: 70%;
			padding: 12px 16px;
			border-radius: 16px;
			font-size: 16px;
			line-height: 1.4;
			color: var(--cr-black);
			user-select: none;
			animation: fadeInUp10 0.3s ease-in-out;
			animation-play-state: paused;
			animation-fill-mode: both;

			a {
				text-decoration: underline;
				color: var(--cr-primary);
			}

			&.is-client {
				align-self: flex-start;
				background-color: var(--cr-subtle);
			}

			&.is-spots {
				align-self: flex-end;
				background-color: var(--cr-secondary);
			}

			&.is-client + &.is-spots,
			&.is-spots + &.is-client {
				margin-top: 8px;
			}
		}

		@include lgScreenDown {
			&__bubble {
				max-width: 85%;
			}
		}

		@include mobileDown {
			&__sequence {
				padding: 12px;
				aspect-ratio: 0.6;
			}

			&__bubble {
				padding: 8px 12px;
			}
		}
	}

	&.is-in-view &__chat__bubble {
		animation-play-state: running;
	}
}

.p-booking__faq {
	max-width: var(--width-sml);
	margin-inline: auto;
	margin-block: var(--s-section);

	@include sectionHeader;

	@media (hover: hover) {
		.c-accordion__toggle {
			transition: color var(--t-1);
		}

		.c-accordion__icon {
			transition: background-color var(--t-1);
		}

		.c-accordion:hover {
			.c-accordion__toggle {
				color: var(--cr-orange-d);
			}

			.c-accordion__icon {
				background-color: var(--cr-orange-l);
			}
		}
	}

	.c-accordion__title {
		font: var(--t-b-1);
		text-wrap: balance;
		font-size: 16px;
		font-weight: 500;
	}

	.c-accordion__inner {
		padding-top: var(--s-2-v);
		padding-bottom: var(--s-4-v);
	}

	.c-accordion__content .wysiwyg-page {
		max-width: 600px;

		p,
		ol,
		ul {
			font-size: 16px;
		}
	}
}

.p-booking__contact {
	margin: var(--s-section) var(--padding-med);
	padding: var(--s-5-v) var(--s-5-h);
	box-shadow: var(--shadow-1);
	background-color: var(--cr-white);
	border-radius: var(--br-3);

	.g-hotel-form {
		max-width: 600px;
		margin-inline: auto;
	}

	@include tabletDown {
		padding: 30px 20px;
		padding-top: 40px;
	}
}
