@use '_mixin' as *;

.p-design__hero {
	position: relative;
	display: flex;
	flex-direction: column;
	height: calc(var(--s-vp-height) - var(--s-header-space) - var(--s-contain));
	width: var(--width-max);
	margin: var(--s-header-space) auto;
	color: var(--cr-white);
	z-index: 1;

	&__image {
		align-self: stretch;
		border-radius: var(--br-3);
		overflow: hidden;
		background-color: var(--cr-subtle-5);
	}

	&__text {
		position: relative;
		margin: auto;
		width: var(--width-med);
		text-align: center;

		@include selection {
			color: var(--cr-brown);
			background-color: var(--cr-cream);
		}
	}

	&__spot {
		--size: clamp(35px, 5vw, 80px);
		position: absolute;
		width: fit-content;
		height: fit-content;
		top: 0;
		left: 0;
		transform-origin: center;
		margin: calc(var(--size) / 2 * -1);
	}

	&__nudge {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		display: flex;
		flex-direction: column;
		gap: 10px;
		pointer-events: none;
		transition: opacity var(--t-2);

		&:not(.is-active) {
			opacity: 0;
		}

		@keyframes fadeInOut {
			0%,
			85%,
			100% {
				opacity: 0;
			}
			20% {
				opacity: 1;
			}
		}

		&-dot {
			width: 10px;
			aspect-ratio: 1;
			background-color: var(--cr-white);
			border-radius: 100%;
			animation: 3s calc(0.2s * var(--index)) fadeInOut infinite;
		}
	}

	@include mobileDown {
		max-height: 150vw;

		&__heading {
			font: var(--t-h-2);
		}
	}
}

.p-design__intro {
	width: var(--width-med);
	margin: var(--s-section) auto;
	text-align: center;
	color: var(--cr-primary, var(--cr-brown-d));

	p {
		text-wrap: balance;
	}
}

.p-design__why {
	display: flex;
	gap: var(--s-3-v);
	margin-block: var(--s-section);
	padding-inline: var(--padding-lge);
	--media-size: Min(400px, 90%);

	&-block {
		flex: 1;
		overflow: hidden;

		@include selection {
			color: var(--cr-cream);
			background-color: var(--cr-primary);
		}

		&__media {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1;
			aspect-ratio: 1;
			border-radius: var(--br-3);
			margin-bottom: var(--s-4-v);
			padding: var(--s-2-v) var(--s-2-h);
			color: var(--cr-white);
			background-color: var(--cr-primary);
		}

		&__text {
			flex: 1;
			min-width: 0;
			align-self: center;

			&-container {
				max-width: 650px;
				margin-inline: auto;
			}
		}

		&__paragraph {
			text-wrap: balance;
		}

		&__offers {
			margin-top: 40px;

			li {
				display: flex;
				align-items: center;
				gap: Max(0.5em, 10px);
				padding: var(--s-2-v) 0;
				border-top: 1px solid var(--cr-subtle);

				&:before {
					content: '✓';
					display: flex;
					justify-content: center;
					align-items: center;
					width: 1.5em;
					aspect-ratio: 1;
					background-color: var(--cr-subtle);
					border-radius: 100%;
				}

				span {
					flex: 1;
				}
			}
		}

		&__heading {
			color: var(--cr-primary);
		}

		@include mobileDown {
			--media-size: calc(100% - var(--s-2-h) * 2);

			&,
			&:nth-child(even) {
				flex-direction: column;
			}

			&__media {
				width: calc(100% - var(--s-contain) * 2);
				padding: var(--s-2-v) var(--s-2-h);
			}

			&__text {
				padding: var(--s-3-v) var(--s-3-h);
				padding-bottom: var(--s-section);
			}

			&__paragraph {
				font-size: 24px;
			}

			&__offers {
				margin-top: 20px;
				font: var(--t-b-2);
			}
		}
	}
}

.p-design__clock {
	--media-size: Min(440px, 90%);
	position: relative;
	width: var(--media-size);
	aspect-ratio: 1;
	margin: auto;
	color: var(--cr-cream);
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.25);

	&__hour-line {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1px;
		height: 100%;
		transform-origin: center;

		&:after {
			content: '';
			display: block;
			width: 1px;
			height: clamp(15px, 10%, 25px);
			background: linear-gradient(
				rgba(255, 255, 255, 0.25),
				rgba(255, 255, 255, 0)
			);
		}
	}

	&__img {
		position: absolute;
		inset: 0;
		overflow: hidden;
		border-radius: 100%;

		&:not(.is-active) {
			visibility: hidden;
		}
	}

	&__center {
		position: absolute;
		width: 10px;
		height: 10px;
		top: 50%;
		left: 50%;
		border-radius: 100%;
		background-color: var(--cr-red-l);
	}

	&__label {
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translate3d(10px, -50%, 0);
		white-space: nowrap;
		font: var(--t-b-1);
		font-size: 13px;
	}
}

.p-design__masks {
	--gap: 5px;
	display: grid;
	width: var(--media-size);
	aspect-ratio: 1;
	margin: auto;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: var(--gap);

	@keyframes topOut {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(0, -100%, 0);
		}
	}

	@keyframes topIn {
		0% {
			transform: translate3d(0, -100%, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes bottomOut {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(0, 100%, 0);
		}
	}

	@keyframes bottomIn {
		0% {
			transform: translate3d(0, 100%, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes leftOut {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(-100%, 0, 0);
		}
	}

	@keyframes leftIn {
		0% {
			transform: translate3d(-100%, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes rightOut {
		0% {
			transform: translate3d(0, 0, 0);
		}
		100% {
			transform: translate3d(100%, 0, 0);
		}
	}

	@keyframes rightIn {
		0% {
			transform: translate3d(100%, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}

	&__circle {
		border: 1px solid rgba(255, 255, 255, 0.25);
	}

	&__circle img {
		// visibility: hidden;
	}

	&__circle {
		position: relative;
		aspect-ratio: 1;
		border-radius: 100%;
		overflow: hidden;
		background-color: var(--cr-subtle);

		picture {
			width: calc(300% + var(--gap) * 2);
			height: calc(300% + var(--gap) * 2);
			max-width: unset;
		}

		img {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
		}

		&:nth-child(2) picture {
			transform: translate3d(-33.33%, 0, 0);
		}
		&:nth-child(3) picture {
			transform: translate3d(-66.66%, 0, 0);
		}
		&:nth-child(4) picture {
			transform: translate3d(0, -33.33%, 0);
		}
		&:nth-child(5) picture {
			transform: translate3d(-33.33%, -33.33%, 0);
		}
		&:nth-child(6) picture {
			transform: translate3d(-66.66%, -33.33%, 0);
		}
		&:nth-child(7) picture {
			transform: translate3d(0, -66.66%, 0);
		}
		&:nth-child(8) picture {
			transform: translate3d(-33.33%, -66.66%, 0);
		}
		&:nth-child(9) picture {
			transform: translate3d(-66.66%, -66.66%, 0);
		}
	}

	&__img {
		position: absolute;
		inset: 0;
		border-radius: 100%;
		overflow: hidden;

		&.is-prev,
		&.is-active {
			animation-duration: 1.6s;
			animation-timing-function: var(--e-inOut-circ);
			animation-iteration-count: both;
		}

		&.is-prev {
			animation-delay: 0.4s;
		}

		&.is-active {
			z-index: 1;
		}

		&:not(.is-prev):not(.is-active) {
			visibility: hidden;
		}
	}

	&__circle[data-direction='0'] &__img.is-active {
		animation-name: topIn;
	}

	&__circle[data-direction='0'] &__img.is-prev {
		animation-name: bottomOut;
	}

	&__circle[data-direction='1'] &__img.is-active {
		animation-name: bottomIn;
	}

	&__circle[data-direction='1'] &__img.is-prev {
		animation-name: topOut;
	}

	&__circle[data-direction='2'] &__img.is-active {
		animation-name: leftIn;
	}

	&__circle[data-direction='2'] &__img.is-prev {
		animation-name: rightOut;
	}

	&__circle[data-direction='3'] &__img.is-active {
		animation-name: rightIn;
	}

	&__circle[data-direction='3'] &__img.is-prev {
		animation-name: leftOut;
	}
}

.p-design__toggle {
	position: relative;
	width: var(--media-size);
	margin: auto;
	border-radius: 300px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: var(--t-2);
	transform: rotate(45deg);

	@media (hover: hover) {
		&:hover {
			background-color: var(--cr-subtle);
		}
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 40%;
		height: 80%;
		top: 50%;
		left: 5%;
		background-color: var(--cr-purple-l);
		border-radius: 400px;
		transition: var(--t-3);
	}

	&__sun,
	&__moon {
		--dec-translate: 120px;
		position: relative;
		width: 50%;
		aspect-ratio: 1;

		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			aspect-ratio: 1;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0) scale(0.1);
			background-color: var(--cr-purple-l);
			border-radius: 100%;
			transition: var(--t-3);
		}
	}

	&__sun {
		&:after {
			width: 80%;
		}
		&__dec {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 100%;
			transform: translate3d(-50%, -50%, 0) rotate(calc(var(--index) * 45deg));
		}
		&__dec:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 12px solid var(--cr-purple-l);
			opacity: 0;
			transform: translateY(200%);
			transition: var(--t-3);
		}
	}

	&__moon {
		&:after {
			mask: radial-gradient(
				circle at 65% 35%,
				transparent 50%,
				var(--cr-purple-l) 0
			);
		}
		&__dec {
			position: absolute;
			width: 10%;
			top: 50%;
			left: 50%;
			aspect-ratio: 1;
			background-size: contain;
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 784.1 815.52"><path fill="%23FAECFF" fill-rule="evenodd" d="M392.05 0C371.15 210.08 207.99 378.41 0 407.78c207.96 29.37 371.12 197.68 392.05 407.74 20.93-210.06 184.09-378.37 392.05-407.74C576.12 378.4 412.94 210.09 392.04 0h.01Z"/></svg>');
			transition: var(--t-3);

			&:nth-child(1) {
				transform: scale(0.1) translate3d(-50%, -50%, 0);
			}
			&:nth-child(2) {
				transform: scale(0.1) translate3d(-50%, -50%, 0);
			}
		}
	}

	&[data-toggle='0']:after {
		transform: translate3d(0, -50%, 0) scale(0.8);
	}

	&[data-toggle='0'] &__moon:after {
		transform: translate3d(-50%, -50%, 0) scale(0.8);
	}

	&[data-toggle='0'] &__moon__dec {
		transition-delay: calc(var(--index) * 0.05s);

		&:nth-child(1) {
			transform: translate3d(-50%, -50%, 0)
				translateY(calc(var(--dec-translate) / 3 * -1))
				translateX(calc(var(--dec-translate) / 20));
		}
		&:nth-child(2) {
			transform: translate3d(-50%, -50%, 0)
				translate(calc(var(--dec-translate) / 2.5));
		}
	}

	&[data-toggle='1']:after {
		transform: translate3d(125%, -50%, 0) scale(0.8);
	}

	&[data-toggle='1'] &__sun:after {
		transform: translate3d(-50%, -50%, 0) scale(0.8);
	}

	&[data-toggle='1'] &__sun__dec:after {
		opacity: 1;
		transform: translateY(100%);
		transition-delay: calc(var(--index) * 0.05s);
	}
}

.p-design__contact {
	margin: var(--s-3-v) auto;

	@include mobileDown {
		margin: auto;
	}
}
