@mixin expandedWidth {
	width: var(--width-med);
	margin: 0 calc((100% - var(--width-med)) / 2);
}

.p-guides-single__header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: var(--s-4-v) calc(var(--padding-med) + 1px);
	padding-top: calc(var(--s-header) + var(--s-3-v) * 2 + var(--s-4-v));
	margin-top: calc((var(--s-header) + var(--s-3-v) * 2) * -1);
	color: var(--cr-cream);
	background-color: var(--cr-primary);

	@media screen and (max-width: 1200px) {
		flex-direction: column;
		align-items: stretch;
		padding-bottom: 0;
	}

	@include selection {
		color: var(--cr-primary);
		background-color: var(--cr-cream);
	}

	&__image {
		max-width: 600px;
		flex: 1;
	}

	&__text {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;
		max-width: var(--width-med);
		margin: auto;
		padding: var(--s-section) var(--s-4-h);
	}

	&__heading {
		margin-bottom: var(--s-3-v);
	}

	.c-breadcrumb {
		margin-bottom: var(--s-3-v);
		justify-content: center;
	}
}

.p-guides-single__body {
	width: var(--width-sml);
	margin: var(--s-section) auto;

	// .large-paragraph {
	// 	@include expandedWidth;
	// }

	.c-location-list {
		margin: var(--s-5-v) auto;

		&__cards {
			gap: var(--s-3-v);
		}
	}

	.c-card[data-layout='embed'] {
		overflow: visible;
		margin: var(--s-5-v) auto;

		.c-card__gallery {
			@include expandedWidth;
		}
	}
}

.p-guides-single__footer {
	margin: var(--s-section) auto;
	padding: var(--s-3-v) 0;
	border-top: 1px solid;
	border-bottom: 1px solid;

	.c-category-pill-list {
		justify-content: center;
	}
}

.p-guides-single__related {
	width: var(--width-lge);
	margin: var(--s-section) auto;

	&__title {
		margin-bottom: var(--s-4-v);
		text-align: center;
	}
}
