.p-guides-single {
	&__header {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: auto;
		max-width: var(--width-lge);
		margin: var(--s-4-v) auto;
		padding: var(--s-4-v) 0;
		border-bottom: 1px solid;

		@media screen and (max-width: 1200px) {
			flex-direction: column;
			align-items: stretch;
			padding-bottom: 0;
		}
	}

	&__image {
		flex: 1;
	}

	&__heading {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: var(--s-4-v) var(--s-4-h);
	}

	&__body {
		display: flex;
		flex-direction: column;
		width: var(--width-sml);
		margin: var(--s-4-v) auto;
		gap: 80px;
	}
}

.p-guides-single__related {
	width: var(--width-lge);
	margin: var(--s-section) auto;

	&__title {
		margin-bottom: var(--s-4-v);
		text-align: center;
	}
}
