.p-guides__header {
	width: var(--width-med);
	margin: var(--s-section) auto;
	text-align: center;

	.c-breadcrumb {
		justify-content: center;
	}
}

.p-guides__body {
	width: var(--width-lge);
	margin: var(--s-section) auto;
}

.p-guides__categories {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: var(--s-4-v);

	.pill:not(.is-active):not(:hover) {
		--cr-primary: var(--cr-subtle) !important;
		--cr-secondary: var(--cr-brown) !important;
	}
}
