.p-home {
	&__hero {
		--padding: 10px;
		position: relative;
		display: flex;
		flex-direction: column;
		margin: var(--padding);
		height: calc(100svh - var(--padding) * 2);
		border-radius: var(--br-3);
		box-shadow: var(--shadow-1);
		z-index: 1;

		&__image {
			border-radius: var(--br-3);
			overflow: hidden;
		}

		&__heading {
			position: relative;
			margin: auto;
			width: var(--s-container-med);
			text-align: center;
			color: var(--cr-white);
			pointer-events: none;
		}
	}

	&__intro {
		width: var(--s-container-med);
		margin: var(--s-section) auto;
		text-align: center;
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	&__highlights {
		gap: var(--s-contain);
		max-width: var(--s-container-lge);
		margin: auto;
		padding: 10vw 0;

		&__item {
			position: relative;
			flex: 1;
			max-width: 600px;
			aspect-ratio: 1;
			border-radius: 100%;
			overflow: hidden;
		}

		&__rotate {
			animation: rotate 40s linear infinite;
		}

		&__item:nth-child(odd) &__rotate {
			animation-direction: reverse;
		}
	}

	&__hiw {
		height: 120svh;
	}

	&__spot {
		position: absolute;
		width: 80px;
		height: 80px;
		top: 0;
		left: 0;
		transform-origin: center;
		margin: -40px;

		&__link {
			position: absolute;
			inset: 0;
			background-color: var(--cr-primary);
			border-radius: 100%;
		}
	}
}
