.p-home {
	$hero-padding: 10px;
	$dot-size: Min(5vw, 80px);

	&__hero {
		position: relative;
		display: flex;
		flex-direction: column;
		height: var(--s-vp-height);
		z-index: 1;

		&__image {
			margin: $hero-padding;
			border-radius: var(--br-3);
			overflow: hidden;
		}

		&__heading {
			position: relative;
			margin: auto;
			width: var(--s-container-med);
			text-align: center;
			color: var(--cr-white);
			pointer-events: none;
		}

		&__nudge {
			position: absolute;
			bottom: calc($hero-padding * 3);
			left: 50%;
			transform: translate3d(-50%, 0, 0);
			display: flex;
			flex-direction: column;
			gap: 10px;
			pointer-events: none;
			transition: opacity var(--t-2);

			&:not(.is-active) {
				opacity: 0;
			}

			@keyframes fadeInOut {
				0%,
				85%,
				100% {
					opacity: 0;
				}
				20% {
					opacity: 1;
				}
			}

			&-dot {
				width: calc($dot-size * 0.1);
				aspect-ratio: 1;
				background-color: var(--cr-white);
				border-radius: 100%;
				animation: 3s calc(0.2s * var(--index)) fadeInOut infinite;
			}
		}
	}

	&__intro {
		width: var(--s-container-med);
		margin: var(--s-section) auto;
		text-align: center;
		color: var(--cr-primary, var(--cr-brown-d));
	}

	&__highlights {
		gap: var(--s-contain);
		max-width: var(--s-container-lge);
		margin: auto;
		padding: 10vw 0;

		&__item {
			position: relative;
			flex: 1;
			max-width: 600px;
			aspect-ratio: 1;
			border-radius: 100%;
			overflow: hidden;
		}

		&__rotate {
			animation: rotate 40s linear infinite;
		}

		&__item:nth-child(odd) &__rotate {
			animation-direction: reverse;
		}
	}

	&__hiw {
		height: 120svh;
	}

	&__spot {
		position: absolute;
		width: $dot-size;
		aspect-ratio: 1;
		top: 0;
		left: 0;
		transform-origin: center;
		margin: calc($dot-size / 2 * -1);

		&__link {
			position: absolute;
			inset: 0;
			background-color: var(--cr-primary);
			border-radius: 100%;
		}
	}
}
