@use '_mixin' as *;

.c-index-header {
	width: var(--width-sml);
	margin: var(--s-section) auto;
	margin-top: calc(var(--s-header) + var(--s-section));
	text-align: center;

	.c-breadcrumb {
		justify-content: center;
	}

	.t-h-1 {
		text-wrap: pretty;
	}

	p {
		text-wrap: balance;
	}

	@include mobileDown {
		.t-h-1 br {
			display: none;
		}
	}
}

.c-index-filters {
	margin-bottom: var(--s-4-v);

	.c-category-pill-list {
		justify-content: center;

		&:not(:last-child) {
			margin-bottom: var(--s-3-v);
		}

		.pill:not(.is-active):not(:hover) {
			--cr-primary: var(--cr-subtle) !important;
			--cr-secondary: var(--cr-brown) !important;
		}
	}
}
