.c-newsletter {
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__pulse {
		position: relative;
		width: 24px;
		height: 24px;
		margin-inline: auto;
		margin-bottom: 40px;
		background-color: var(--cr-green-l);
		border-radius: 100%;

		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 300%;
			height: 300%;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			border-radius: 100%;
			background-color: var(--cr-green-l);
			animation: pulse-ring 3s infinite;
		}

		@keyframes pulse-ring {
			0% {
				transform: translate3d(-50%, -50%, 0) scale(0.33);
			}
			80%,
			100% {
				opacity: 0;
			}
		}
	}

	&__header {
		max-width: 450px;
		margin-inline: auto;
		text-wrap: balance;
		text-align: center;
	}

	&__paragraph {
		text-wrap: balance;
	}

	&__form {
		display: flex;
		width: 100%;
		max-width: 450px;
		margin-inline: auto;
		gap: 10px;
		flex-direction: column;

		input {
			text-align: center;
		}
	}

	&__footer {
		position: relative;
	}

	&__success,
	&__error {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		text-align: center;
	}
}
