.c-newsletter {
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__header {
		max-width: 450px;
		margin-inline: auto;
		text-wrap: balance;
		text-align: center;
	}

	&__paragraph {
		text-wrap: balance;
	}

	&__form {
		display: flex;
		width: 100%;
		max-width: 450px;
		margin-inline: auto;
		gap: 10px;
		flex-direction: column;

		input {
			text-align: center;
		}
	}

	&__footer {
		position: relative;
	}

	&__success,
	&__error {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		text-align: center;
	}
}
