@use '_reset';
@use '_utilities';
@use '_base';
@use '_animation';

// ***PLUGIN***
@use 'plugin-react-calendar';

// ***COMPONENTS***
@use 'c-loader';
@use 'c-wysiwyg';
@use 'c-button';
@use 'c-field';
@use 'c-form';
@use 'c-accordion';
@use 'c-carousel';
@use 'c-vimeo-video';
@use 'c-image-columns';
@use 'c-free-form';
@use 'c-iframe';
@use 'c-portable-image';
@use 'c-portable-table';
@use 'c-progress';
@use 'c-card';
@use 'c-itinerary-list';
@use 'c-itinerary-card';
@use 'c-language-selector';
@use 'c-location-dot';
@use 'c-category-pill-list';
@use 'c-location-list';
@use 'c-map';
@use 'c-ad';
@use 'c-breadcrumb';
@use 'c-index-header';
@use 'c-responsive-grid';
@use 'c-pagination';
@use 'c-newsletter';

// ***GLOBAL***
@use 'g-misc';
@use 'g-ada-skip';
@use 'g-announcement';
@use 'g-header';
@use 'g-mobile-menu';
@use 'g-header-itinerary';
@use 'g-aside-map';
@use 'g-magnify';
@use 'g-lightbox';
@use 'g-planner';
@use 'g-footer';
@use 'g-plan';

// ***PAGES***
@use 'p-404';
@use 'p-general';
@use 'p-home';
@use 'p-contact';

@use 'p-paris';
@use 'p-locations-index';
@use 'p-locations-single';
@use 'p-guides-index';
@use 'p-guides-single';
@use 'p-case-single';
@use 'p-itinerary';
@use 'p-trip-ready';
@use 'p-email-signature';

@use 'p-booking';
@use 'p-design';
