@use '_mixin' as *;

.p-itinerary {
	&__header {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: var(--s-section);
		padding: calc(var(--s-header-space) + var(--s-section)) var(--padding-max)
			var(--s-4-v);
		gap: var(--s-3-v) var(--s-4-h);
		color: var(--cr-cream);
		background-color: var(--cr-primary);

		&__text {
			position: relative;
			max-width: 960px;
			text-align: left;
		}

		&__stats {
			display: flex;
			gap: 10px;

			li {
				min-width: 90px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 5px;
				padding: 10px 10px 5px;
				border-radius: var(--br-1);
				border: 1px solid;
			}
		}

		@include selection {
			color: var(--cr-primary);
			background-color: var(--cr-secondary);
		}

		@include midScreenDown {
			margin-bottom: 0;
		}

		@include mobileDown {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__body {
		display: flex;
		width: var(--width-max);
		margin: var(--s-section) auto;
		gap: var(--s-section) var(--s-5-h);
		color: var(--cr-primary);

		@include selection {
			color: var(--cr-secondary);
			background-color: var(--cr-primary);
		}

		@media (hover: hover) {
			*:focus-visible {
				outline-color: var(--cr-primary) !important;
			}
		}

		@media screen and (max-width: 1680px) {
			column-gap: var(--s-4-h);
		}

		@include midScreenDown {
			margin-block: 10px;
			flex-direction: column;

			.p-itinerary__images {
				width: 100vw;
				margin-inline: calc(var(--s-contain) * -1);
			}

			.c-carousel__button--prev {
				left: var(--s-contain);
				transform: translate3d(0, -50%, 0);
			}

			.c-carousel__button--next {
				right: var(--s-contain);
				transform: translate3d(0, -50%, 0);
			}

			.p-itinerary__accomodations__grid .c-responsive-grid__grid {
				display: flex;
				flex-direction: column;
				width: 100vw;
				padding-bottom: var(--s-3-v);
				padding-inline: var(--s-contain);
				margin-inline: calc(var(--s-contain) * -1);
				overflow-y: auto;
				scroll-padding: var(--s-contain);
				scroll-snap-type: x mandatory;
				flex-direction: row;

				@include customScrollbarHorizontal;

				.c-card {
					min-width: Min(420px, 85vw);
					scroll-snap-align: start;
				}
			}
		}

		@include mobileDown {
			margin-top: 5px;
			margin-bottom: var(--s-3-v);
			gap: var(--s-3-v);

			.c-carousel {
				--item-gap: 5px !important;
			}
		}
	}

	&__sidebar {
		display: flex;
		flex-direction: column;
		width: Min(100%, 450px);

		&-flex {
			flex: 1;
		}

		&-sticky {
			position: sticky;
			bottom: var(--s-4-v);
			padding: var(--s-4-v) var(--s-4-h);
			border-radius: var(--br-3);
			border: 1px solid var(--cr-subtle);
			color: var(--cr-green-d);
			background-color: var(--cr-white);
			box-shadow: var(--shadow-3);
		}

		.c-field {
			--height: 42px;
			--padding-h: 12px;
		}

		.c-field textarea {
			height: calc(var(--height) * 2);
		}

		@include midScreenUp {
			&__toggle {
				display: none;
			}
		}

		@include midScreenDown {
			--bar-size: 60px;
			position: fixed;
			height: calc(100% + 2px);
			width: 100%;
			bottom: 0px;
			right: 0;
			flex-direction: column;
			gap: 0;
			transform: translate3d(0, 0, 0);
			overflow-y: auto;
			border-top: 1px solid;
			background-color: var(--cr-cream);
			pointer-events: auto;
			z-index: 150;
			transition:
				transform var(--t-2),
				background var(--t-2);

			&:not(.is-open) {
				transform: translate3d(0, calc(100% - var(--bar-size)), 0);
				background-color: var(--cr-white);
			}

			&:not(.is-open):not(.is-in-view) {
				transform: translate3d(0, 100%, 0);
			}

			&__toggle {
				position: sticky;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding-inline: var(--s-contain);
				min-height: var(--bar-size);
				top: 0;
				background-color: var(--cr-cream);
				border-bottom: 1px solid;
				z-index: 155;
			}

			&-sticky {
				position: relative;
				bottom: 0;
				border-radius: 0;
				box-shadow: unset;
			}

			.g-plan__form {
				gap: var(--s-3-v);

				&__budget {
					display: none;
				}
			}
		}

		@include mobileDown {
			--bar-size: 55px;

			.g-plan__form {
				padding-top: 0;
			}

			&-sticky {
				padding: var(--s-4-v) var(--s-3-h);
			}
		}
	}

	&__sections {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: var(--s-5-v);

		@include mobileDown {
			gap: 60px;
		}
	}

	&__section {
		display: flex;
		flex-direction: column;
		gap: var(--s-3-v) var(--s-3-h);
		border-top: 1px solid;
		padding-top: var(--s-3-v);

		&__title {
			display: flex;
			justify-content: space-between;
			grid-column: span 2;

			.t-l-1 {
				white-space: nowrap;
			}
		}
	}

	&__images {
		picture {
			background-color: var(--cr-subtle);
		}

		img {
			width: auto;
			height: clamp(350px, 100vw, 500px);
			height: clamp(350px, 100vw, 500px);
		}
	}

	&__days {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	&__contact {
		margin: var(--s-contain);
	}

	@include mobileDown {
		&__contact {
			margin-inline: 0;
		}
	}

	&__cta {
		position: fixed;
		width: Min(calc(100% - var(--s-contain) * 2), 240px);
		left: 50%;
		bottom: var(--s-contain);
		transform: translate3d(-50%, 0, 0);
		z-index: 200;
		transition: transform var(--t-2);

		&:not(.is-in-view) {
			transform: translate3d(-50%, calc(100% + var(--s-contain)), 0);
		}

		@include tabletUp {
			display: none;
		}
	}
}

.p-itinerary__day {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: var(--s-4-v) var(--s-4-h);
	overflow: clip;
	gap: var(--s-4-v);
	border-radius: var(--br-3);
	background-color: var(--cr-white);
	border: 1px solid var(--cr-subtle);

	@media screen and (max-width: 2000px) {
		grid-column: span 2;
	}

	&__header {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		max-width: 1000px;
		text-wrap: balance;
		gap: 20px;
		color: var(--cr-primary);
	}

	&__badge {
		min-width: 80px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;
		padding: 10px 10px 5px;
		border-radius: var(--br-1);
		color: var(--cr-primary);
		background-color: var(--cr-secondary);
	}

	&__activities {
		&__content,
		&__locations {
			padding-left: calc(80px + 20px);
			padding-right: calc(30px + 20px);
			padding-block: 20px;
		}

		&__content {
			max-width: 800px;
		}

		.c-accordion {
			transition: 0.4s;
		}

		.c-accordion:first-of-type {
			border-top: 1px solid var(--cr-subtle);
		}

		.c-accordion__toggle {
			position: sticky;
			top: var(--s-header);
			z-index: 20;
			background-color: var(--cr-white);
		}

		.c-accordion__subtitle {
			width: 80px;
			white-space: nowrap;
			font: var(--t-l-1);
		}

		.c-accordion__title {
			font: var(--t-h-3);
		}

		.c-accordion__icon {
			color: var(--cr-secondary);
			background-color: var(--cr-primary);
			border: 1px solid transparent;
			transition: var(--t-1);
		}

		.c-accordion__inner {
			padding-bottom: var(--s-4-v);
		}

		.c-accordion:hover .c-accordion__icon,
		.c-accordion.is-active .c-accordion__icon {
			background-color: var(--cr-secondary);
			border: 1px solid var(--cr-primary);
			color: var(--cr-primary);
		}
	}

	@include tabletDown {
		width: 100vw;
		margin-inline: calc(var(--s-contain) * -1);
		border-radius: 0;
		padding: var(--s-3-v) var(--s-3-h);

		&__activities {
			width: 100vw;
			margin-inline: calc(var(--s-3-h) * -1);

			.c-accordion__toggle {
				padding-inline: var(--s-3-h);
			}

			&__content {
				padding-left: var(--s-3-h);
				padding-right: var(--s-3-h);
			}

			&__locations {
				padding-right: 0;
				padding-left: 0;
			}

			&__locations .c-responsive-grid__grid {
				display: flex;
				flex-direction: column;
				width: 100vw;
				padding-inline: var(--s-3-h);
				overflow-y: auto;
				scroll-padding: var(--s-3-h);
				scroll-snap-type: x mandatory;
				flex-direction: row;

				.c-card {
					min-width: Min(420px, 85vw);
					scroll-snap-align: start;
				}
			}
		}
	}

	@include mobileDown {
		gap: var(--s-3-v);

		&__header {
			flex-direction: column;
		}

		&__activities .c-accordion__inner {
			padding-bottom: var(--s-3-v);
		}

		.c-accordion__toggle {
			display: grid;
			grid-template-columns: 1fr 30px;
			grid-template-rows: auto auto;
			gap: 5px 10px;
			padding: 15px 10px;
		}

		.c-accordion__subtitle {
			grid-column: 1;
			grid-row: 1;
		}

		.c-accordion__title {
			grid-column: 1;
			grid-row: 2;
		}

		.c-accordion__icon {
			grid-column: 2;
			grid-row: 1 / span 2; /* Spans both rows */
		}
	}
}

.p-itinerary__day__map {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	padding: var(--s-3-v) var(--s-3-h);
	gap: var(--s-3-v);
	background-color: var(--cr-white);
	transition:
		opacity var(--t-2),
		transform var(--t-2);
	z-index: 200;

	&:not(.is-active) {
		opacity: 0;
		pointer-events: none;
		transform: scale(0.95);

		* {
			pointer-events: none !important;
		}
	}

	.c-map {
		flex: 1;
		filter: url(#filter-round);

		& > div {
			clip-path: polygon(
				0 0,
				calc(100% - 165px) 0,
				calc(100% - 165px) 65px,
				100% 65px,
				100% 100%,
				0 100%
			);
		}
	}

	&__close {
		position: absolute;
		top: calc(var(--s-3-v) + 8px);
		right: calc(var(--s-3-h) + 8px);
	}

	&__filters {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 20px;
		top: calc(var(--s-3-v) + 8px);
		left: calc(var(--s-3-h) + 8px);
		background-color: var(--cr-white);
		border-radius: var(--br-2);
		box-shadow: var(--shadow-1);
		padding: 20px;

		&__batch-action {
			margin-top: 10px;
		}

		ul {
			display: flex;
			flex-direction: column;
		}

		li {
			display: flex;
			flex-direction: row;
			align-items: center;
		}

		label {
			padding-block: 4px;
		}
	}

	@include tabletDown {
		padding: var(--s-contain);

		&:not(.is-active) {
			display: none;
		}

		.c-map {
			flex: 1;
			filter: url(#filter-round);

			& > div {
				clip-path: polygon(
					0 0,
					calc(100% - 145px) 0,
					calc(100% - 145px) 55px,
					100% 55px,
					100% 100%,
					0 100%
				);
			}
		}

		&__close {
			top: var(--s-contain);
			right: var(--s-contain);
		}

		&__filters {
			position: fixed;
			bottom: 0;
			top: unset;
			left: 50%;
			width: calc(100% - var(--s-contain) * 4);
			transform: translate3d(-50%, calc(100% - 60px), 0);
			transition: transform var(--t-2);

			&:hover {
				transform: translate3d(-50%, calc(var(--s-contain) * -1), 0);
			}

			li {
				border-top: 1px solid var(--cr-subtle);
			}

			label {
				flex: 1;
				padding-block: 10px;
			}

			&__batch-action {
				padding-top: 20px;
				margin-top: 0;
			}

			// position: absolute;
			// display: flex;
			// flex-direction: column;
			// gap: 20px;
			// top: calc(var(--s-3-v) + 8px);
			// left: calc(var(--s-3-h) + 8px);
			// background-color: var(--cr-white);
			// border-radius: var(--br-2);
			// box-shadow: var(--shadow-1);
			// padding: 20px;

			// &__batch-action {
			// 	margin-top: 10px;
			// }

			// ul {
			// 	display: flex;
			// 	flex-direction: column;
			// }

			// li {
			// 	display: flex;
			// 	flex-direction: row;
			// 	align-items: center;
			// }

			// label {
			// 	padding-block: 4px;
			// }
		}
	}
}
