.p-locations__header {
	width: var(--width-med);
	margin: var(--s-section) auto;
	text-align: center;
}

.p-locations__body {
	width: var(--width-lge);
	margin: var(--s-section) auto;
}

.p-locations__categories {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: var(--s-3-v);

	.pill:not(.is-active):not(:hover) {
		--cr-primary: var(--cr-subtle) !important;
		--cr-secondary: var(--cr-brown) !important;
	}
}
