@use '_mixin' as *;

.p-paris__locations {
	position: relative;
	margin-inline: auto;
	overflow: clip;
	padding-top: var(--s-header-space);

	&__text {
		width: var(--width-sml);
		text-align: center;
		margin: auto;
		padding-block: var(--s-5-v);

		.c-category-pill-list {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-block: var(--s-3-v);
		}

		.pill:not(.is-active):not(:hover) {
			--cr-primary: var(--cr-subtle) !important;
			--cr-secondary: var(--cr-brown) !important;
		}
	}

	&__dots {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		width: 100%;
		padding-inline: var(--padding-max);
		aspect-ratio: 1;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		pointer-events: none;

		@keyframes rotate {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

		&-container {
			position: relative;
			flex: 1;
			aspect-ratio: 1;
			animation: rotate 60s linear infinite;
		}
	}

	&__dot {
		position: absolute;
		top: 50%;
		left: 50%;
		pointer-events: auto;
	}

	@include tabletDown {
		&__dots {
			width: 140%;
		}
	}

	@include mobileDown {
		&__text {
			width: var(--width-sml);
			text-align: center;
			margin: auto;
			padding-block: var(--s-5-v);

			.c-category-pill-list {
				margin-block: 0;
			}
		}
	}
}

.p-paris__content-list {
	// TODO
	// Make item gap consistent (use global variable?) paris__location-list, paris__content-list, etc.
	display: flex;
	width: var(--width-lge);
	margin: var(--s-section) auto;
	gap: var(--s-section) var(--s-5-h);

	&__column {
		flex: 1;
	}

	&__header {
		width: 360px;
		min-width: 360px;
		margin: 0 auto var(--s-4-v);
		text-align: center;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	@include smScreenDown {
		flex-direction: column;

		&__items {
			width: 100vw;
			padding-bottom: var(--s-3-v);
			padding-inline: var(--s-contain);
			margin-inline: calc(var(--s-contain) * -1);
			overflow-y: auto;
			scroll-padding: var(--s-contain);
			scroll-snap-type: x mandatory;
			flex-direction: row;

			@include customScrollbarHorizontal;
		}

		.c-card {
			min-width: Min(500px, 85vw);
			scroll-snap-align: start;
		}
	}

	@include tabletDown {
		&__subtitle {
			font: var(--t-h-2);
		}

		.c-card {
			min-width: Min(360px, 75vw);
			scroll-snap-align: start;
		}
	}
}

.p-paris__season {
	width: var(--width-lge);
	margin: auto;
	padding: var(--s-section) 0;
	border-top: 1px solid;

	&__heading {
		grid-column: 1 / -1;
		text-align: center;
	}

	&__table {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-flow: row;
		gap: var(--s-5-v) var(--s-4-h);

		@media screen and (max-width: 1400px) {
			grid-template-columns: repeat(2, 1fr);
		}

		&__header {
			display: block;
			padding-bottom: var(--s-3-v);
			border-bottom: 1px solid var(--cr-subtle);

			h3 {
				margin-bottom: 5px;
				text-transform: uppercase;
			}
		}

		&__body {
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid var(--cr-subtle);
			}

			li h4 {
				flex: 1;
			}

			li a,
			li:not(:has(a)) {
				display: flex;
				padding: var(--s-3-v) 0;
			}
		}
	}

	@include mobileDown {
		padding-top: 0;
		border-top: 0;

		&__table {
			grid-template-columns: repeat(1, 1fr);
			gap: var(--s-3-v);

			&__section {
				padding: 24px;
				background-color: var(--cr-white);
			}

			&__body {
				li a,
				li:not(:has(a)) {
					padding: var(--s-2-v) 0;
				}
			}
		}
	}
}
