.p-paris__locations {
	width: var(--width-lge);
	margin: var(--s-section) auto;

	&__header {
		text-align: center;
		margin-bottom: var(--s-4-v);

		.t-h-1 {
			text-wrap: balance;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-top: var(--s-4-v);

		&-categories {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
}

.p-paris__itineraries {
	position: relative;
	padding: var(--s-5-v) 0;
	color: var(--cr-primary);
	background-color: var(--cr-white);
	border-top: 1px solid;
	border-bottom: 1px solid;
	transition: color var(--t-2);

	&__header {
		text-align: center;
		width: var(--width-sml);
		margin: 0 auto calc(-1 * var(--s-4-v));
	}

	&__item {
		transform-style: preserve-3d;
		perspective: 1000px;
	}

	.c-carousel {
		&__container {
			align-items: stretch;
			padding: var(--s-5-v) 0;
		}

		&__dots {
			margin-top: calc(-1 * var(--s-4-v));
		}

		&__dot.is-selected {
			background-color: var(--cr-primary, var(--cr-black));
		}
	}
}

.p-paris__content-list {
	// TODO
	// Make item gap consistent (use global variable?) paris__location-list, paris__content-list, etc.
	display: flex;
	width: var(--width-lge);
	margin: var(--s-5-v) auto;
	gap: var(--s-5-h);

	&__column {
		flex: 1;
	}

	&__header {
		width: 360px;
		min-width: 360px;
		margin: 0 auto var(--s-4-v);
		text-align: center;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.p-paris__season {
	padding: var(--s-5-v) var(--padding-lge);
	background-color: var(--cr-white);
	border-top: 1px solid;

	&__clock {
		position: relative;
		width: Min(100%, 360px);
		aspect-ratio: 1;
		margin: auto;
		border-radius: 100%;

		&:after {
			content: '';
			display: block;
			position: absolute;
			inset: 0;
			border: 1px solid var(--cr-primary);
			border-radius: 100%;
			opacity: 0.1;
		}

		&__center {
			position: absolute;
			width: 20px;
			height: 20px;
			top: 50%;
			left: 50%;
			border-radius: 100%;
			color: var(--cr-primary);
			background-color: var(--cr-primary);
			transform: translate3d(-50%, -50%, 0);
		}

		&__label {
			position: absolute;
			top: 50%;
			left: 100%;
			transform: translate3d(10px, -50%, 0);
			white-space: nowrap;
			font: var(--t-b-1);
		}
	}

	&__heading {
		grid-column: 1 / -1;
		text-align: center;
	}

	&__table {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-flow: row;
		gap: var(--s-5-v) var(--s-4-h);

		@media screen and (max-width: 1400px) {
			grid-template-columns: repeat(2, 1fr);
		}

		&__header {
			display: block;
			margin-bottom: var(--s-3-v);
			padding-bottom: var(--s-3-v);
			border-bottom: 1px solid;

			h3 {
				margin-bottom: 5px;
				text-transform: uppercase;
			}
		}

		&__body {
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid var(--cr-subtle);
			}

			li h4 {
				flex: 1;
			}

			li a,
			li:not(:has(a)) {
				display: flex;
				padding: var(--s-3-v) 0;
			}
		}
	}
}
