.p-paris__locations {
	padding: 0 var(--s-sidebar-w-contain);
	margin: 0 auto;
	margin-bottom: var(--s-section);

	&__heading {
		margin-bottom: var(--s-4-v);
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 16px;

		@container main (min-width: 600px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@container main (min-width: 1200px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@container main (min-width: 1600px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		gap: 15px;
		margin-top: var(--s-4-v);

		&-categories {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}

	&__cta {
		margin-right: auto;
	}
}

.p-paris__itineraries {
	position: relative;
	padding: var(--s-5-v) 0;
	color: var(--cr-primary);
	background-color: var(--cr-white);
	border-top: 1px solid;
	border-bottom: 1px solid;
	transition: color var(--t-2);

	&__header {
		text-align: center;
		max-width: var(--s-container-sml);
		margin: auto;
		margin-bottom: calc(-1 * var(--s-4-v));
	}

	&__item {
		transform-style: preserve-3d;
		perspective: 1000px;
	}

	.c-carousel__container {
		align-items: stretch;
		padding: var(--s-5-v) 0;
	}

	.c-carousel__dots {
		margin-top: calc(-1 * var(--s-4-v));
	}

	.c-carousel__dot.is-selected {
		background-color: var(--cr-primary, var(--cr-black));
	}
}

.p-paris__content-list {
	// TODO
	// Make item gap consistent (use global variable?) paris__location-list, paris__content-list, etc.
	display: flex;
	max-width: var(--s-container-lge);
	margin: var(--s-5-v) auto;
	gap: var(--s-5-h);

	&__column {
		flex: 1;
	}

	&__header {
		width: 360px;
		min-width: 360px;
		margin: 0 auto var(--s-4-v);
		text-align: center;
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.p-paris__season {
	position: relative;
	display: flex;
	gap: var(--s-5-h);
	align-items: center;
	padding: var(--s-5-v) var(--s-sidebar-w-contain);
	background-color: var(--cr-white);
	border-top: 1px solid;

	&__clock {
		position: relative;
		width: Min(100%, 360px);
		aspect-ratio: 1;
		margin: auto;
		border-radius: 100%;

		&:after {
			content: '';
			display: block;
			position: absolute;
			inset: 0;
			border: 1px solid var(--cr-primary);
			border-radius: 100%;
			opacity: 0.1;
		}

		&__center {
			position: absolute;
			width: 20px;
			height: 20px;
			top: 50%;
			left: 50%;
			border-radius: 100%;
			color: var(--cr-primary);
			background-color: var(--cr-primary);
			transform: translate3d(-50%, -50%, 0);
		}

		&__label {
			position: absolute;
			top: 50%;
			left: 100%;
			transform: translate3d(10px, -50%, 0);
			white-space: nowrap;
			font: var(--t-b-1);
		}
	}

	&__heading {
		grid-column: span 2;
	}

	&__table {
		flex: 1 1;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: row;
		gap: var(--s-5-v) var(--s-4-h);

		&__header {
			display: block;
			margin-bottom: var(--s-3-v);
			padding-bottom: var(--s-3-v);
			border-bottom: 1px solid;

			h3 {
				margin-bottom: 5px;
				text-transform: uppercase;
			}
		}

		&__body {
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				gap: 10px;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid var(--cr-subtle);
			}

			li h4 {
				flex: 1;
			}

			li a,
			li:not(:has(a)) {
				display: flex;
				padding: var(--s-2-v) 0;
			}
		}
	}
}
