.p-trip-ready {
	.c-breadcrumb {
		justify-content: center;
	}

	&__header {
		margin: var(--s-section) auto;
		padding: 0 var(--padding-lge);
		text-align: center;
	}

	&__grid {
		margin: var(--s-section) auto;
		padding: 0 var(--padding-lge);
	}
}
